<div class="media-item-container">

  <div *ngIf="item.type.includes('albums') && item.attributes" appLazyLoadImage>
    <div class="media-artwork" (click)="navigate(item)" id="artwork-{{item.id}}" [ngStyle]="{'background-color': backgroundColor}">
      <img class="img-fluid rounded" src={{artworkPlaceholderImage}} [attr.data-src]="artworkImage">
      <ng-container *ngTemplateOutlet="controls"></ng-container>
    </div>
    <div class="media-album">
      <a [routerLink]="['/albums', item.id]" class="text-truncate" title="{{item.attributes.name}}">{{item.attributes.name}}</a>
      <i *ngIf="isExplicit" class="material-icons">explicit</i>
    </div>
    <div class="media-artist">
      <span *ngIf="!item.relationships || !item.relationships.artists.data[0]" class="text-truncate" title="{{item.attributes.artistName}}">{{item.attributes.artistName}}</span>
      <a *ngIf="item.relationships && item.relationships.artists.data[0]" [routerLink]="['/artists', item.relationships.artists.data[0].id]" class="text-truncate" title="{{item.attributes.artistName}}">{{item.attributes.artistName}}</a>
    </div>
  </div>

  <div *ngIf="item.type.includes('playlists')" appLazyLoadImage>
    <div class="media-artwork" (click)="navigate(item)" id="artwork-{{item.id}}" [ngStyle]="{'background-color': backgroundColor}">
      <img class="img-fluid rounded" src={{artworkPlaceholderImage}} [attr.data-src]="artworkImage">
      <ng-container *ngTemplateOutlet="controls"></ng-container>
    </div>
    <div class='media-album'>
      <a [routerLink]="['/playlists', item.id]" class="text-truncate" title="{{item.attributes.name}}">{{item.attributes.name}}</a>
    </div>
    <div *ngIf="item.relationships && item.relationships.curator && item.relationships.curator.data[0]" class="media-album">
      <a *ngIf="item.relationships.curator.data[0].type === 'apple-curators'" [routerLink]="['/curators', 'apple', item.relationships.curator.data[0].id]" class="text-truncate" title="{{item.attributes.curatorName}}">{{item.attributes.curatorName}}</a>
      <a *ngIf="item.relationships.curator.data[0].type === 'curators'" [routerLink]="['/curators', 'user', item.relationships.curator.data[0].id]" class="text-truncate" title="{{item.attributes.curatorName}}">{{item.attributes.curatorName}}</a>
    </div>
    <div *ngIf="!item.relationships || !item.relationships.curator || !item.relationships.curator.data[0]" class="media-album">
      <span class="text-truncate" title="{{item.attributes.curatorName}}">{{item.attributes.curatorName}}</span>
    </div>
  </div>

  <div *ngIf="item.type.includes('artists')" appLazyLoadImage>
    <div class="media-artwork" (click)="navigate(item)" id="artwork-{{item.id}}">
      <img class="img-fluid rounded" src={{artworkPlaceholderImage}} [attr.data-src]="item.attributes && item.attributes.artwork ? playerService.formatArtwork(item.attributes.artwork, 400) : ''">
    </div>
    <div class="media-artist">
      <a [routerLink]="['/artists', item.id]" class="text-truncate" title="{{item.attributes.name}}">{{item.attributes.name}}</a>
    </div>
  </div>

  <div *ngIf="item.type.includes('songs')" appLazyLoadImage>
    <div class="media-artwork" (click)="navigate(item, $event)" id="artwork-{{item.id}}" [ngStyle]="{'background-color': backgroundColor}">
      <img class="img-fluid rounded" src={{artworkPlaceholderImage}} [attr.data-src]="artworkImage">
      <ng-container *ngTemplateOutlet="controls"></ng-container>
    </div>
    <div class="media-album">
      <span *ngIf="!item.relationships || !item.relationships.albums" class="text-truncate" title="{{item.attributes.name}}">{{item.attributes.name}}</span>
      <a *ngIf="item.relationships && item.relationships.albums" class="text-truncate" [routerLink]="['/albums', item.relationships.albums.data[0].id]" title="{{item.attributes.name}}">{{item.attributes.name}}</a>
    </div>
    <div class="media-album">
      <span *ngIf="!item.relationships || !item.relationships.albums" class="text-truncate" title="{{item.attributes.albumName}}">{{item.attributes.albumName}}</span>
      <a *ngIf="item.relationships && item.relationships.albums" class="text-truncate" [routerLink]="['/albums', item.relationships.albums.data[0].id]" title="{{item.attributes.albumName}}">{{item.attributes.albumName}}</a>
    </div>
    <div class="media-artist">
      <span *ngIf="!item.relationships || !item.relationships.artists" class="text-truncate" title="{{item.attributes.artistName}}">{{item.attributes.artistName}}</span>
      <a *ngIf="item.relationships && item.relationships.artists" class="text-truncate" [routerLink]="['/artists', item.relationships.artists.data[0].id]" title="{{item.attributes.artistName}}">{{item.attributes.artistName}}</a>
    </div>
  </div>

  <div *ngIf="item.type.includes('curators')" appLazyLoadImage>
    <div class="media-artwork" (click)="navigate(item, $event)" id="artwork-{{item.id}}" [ngStyle]="{'background-color': backgroundColor}">
      <img class="img-fluid rounded" src={{artworkPlaceholderImage}} [attr.data-src]="artworkImage">
    </div>
    <div class="media-artist">
      <a *ngIf="item.type === 'apple-curators'" class="text-truncate" [routerLink]="['/curators', 'apple', item.id]" title="{{item.attributes.name}}">{{item.attributes.name}}</a>
      <a *ngIf="item.type === 'curators'" class="text-truncate" [routerLink]="['/curators', 'user', item.id]" title="{{item.attributes.name}}">{{item.attributes.name}}</a>
    </div>
  </div>

  <div *ngIf="item.type.includes('stations')" appLazyLoadImage>
    <div class="media-artwork" (click)="navigate(item, $event)" id="artwork-{{item.id}}" [ngStyle]="{'background-color': backgroundColor, 'pointer-events': 'none'}">
      <img class="img-fluid rounded" src={{artworkPlaceholderImage}} [attr.data-src]="artworkImage">
      <ng-container *ngTemplateOutlet="controls"></ng-container>
    </div>
    <div class="media-artist">
      <span class="text-truncate" title="{{item.attributes.name}}">{{item.attributes.name}}</span>
    </div>
  </div>

</div>

<ng-template #controls>
  <div class="hover-gradient"></div>
  <div class="media-control-button">
    <span class="fa-stack" (click)="play(item, $event)">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-play fa-stack-1x"></i>
    </span>
  </div>
  <div *ngIf="showOptions" class="media-options-button" (click)="$event.stopPropagation()">
    <app-dropdown [item]="item" [playOption]="true" [shuffleOption]="true" [libraryOption]="true">
      <span class="fa-stack">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-ellipsis-h fa-stack-1x"></i>
      </span>
    </app-dropdown>
  </div>
</ng-template>
