<div class="container-fluid">

  <div *ngIf="this.loading">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>

  <div *ngIf="!this.loading">
    <div *ngIf="curator">
      <div class="curator-background container-fluid" [ngStyle]="{ 'background-image': 'url(' + musicPlayerService.formatArtworkURL(curator.attributes.artwork, 1080) + ')' }">
        <h1 class="text-truncate text-light">{{curator.attributes.name}}</h1>

        <div class="row container-fluid">
          <div class="col-6 col-sm-8 col-md-9">
            <div *ngIf="curator.attributes.editorialNotes">
              <span class="text-light editorial-notes-short">{{curator.attributes.editorialNotes.short}}</span>
            </div>
          </div>
          <div *ngIf="featuredPlaylist" class="col-6 col-sm-4 col-md-3">
            <h5 class="text-truncate text-light" title="Featured Playlist">Featured Playlist</h5>
            <app-media-item-view [item]="featuredPlaylist" [light]=true></app-media-item-view>
          </div>
        </div>
      </div>

      <br />

      <div *ngIf="mostPlayed">
        <div *ngIf="mostPlayed.albums && mostPlayed.albums.length">
          <h3>Top Albums</h3>
          <app-media-item-collection-row [collection]="mostPlayed.albums[0].data"></app-media-item-collection-row>
        </div>
    
        <div *ngIf="mostPlayed.songs && mostPlayed.songs.length">
          <h3>Top Songs</h3>
          <app-media-item-collection-grid [collection]="mostPlayed.songs[0].data" [numRows]=3 [showArtist]=true></app-media-item-collection-grid>
        </div>
      </div>

      <div *ngIf="curatorPlaylists">
        <div class="row">
          <div class="col-6"><h3>Playlists</h3></div>
          <div class="col-6 filters">
            <select class="float-right" [(ngModel)]="selectedFilter">
              <option *ngFor="let filter of filters" [ngValue]="filter">{{filter}}</option>
            </select>
            <span class="float-right">Filter Playlists:</span>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <app-media-item-view *ngFor="let item of curatorPlaylists | playlistFilter: selectedFilter" [item]="item" class="col-6 col-md-4 col-lg-3 col-xl-2"></app-media-item-view>
          </div>
        </div>
        
        <div *ngIf="nextPlaylistsUrl" class="row load-more">
          <br />
          <a *ngIf="!loadingPlaylists" (click)="loadPlaylists()">Load More</a>
          <mat-spinner *ngIf="loadingPlaylists" class="load-more-spinner" [diameter]="24"></mat-spinner>
        </div>
      </div>
    </div>

  </div>

</div>
