<div *ngIf="!todaysAlbums" class="media-item-group">
  <div id="scrollbar" class="container-fluid row">
    <app-media-item-view *ngFor="let item of items" [item]="item" 
      [ngClass]="size === 2 ? 'col-6 col-md-4 col-lg-3' : 'col-6 col-md-4 col-lg-3 col-xl-2'"
      [itemRelationships]="collectionRelationships ? collectionRelationships[items.indexOf(item)] : null">
    </app-media-item-view>
  </div>
</div>

<div *ngIf="todaysAlbums" class="media-item-group">
  <div id="scrollbar" class="container-fluid row">
    <div *ngFor="let item of items" class="col-12 col-md-6 col-lg-4">
      <h5 class="text-truncate" title="{{item.attributes.reason.stringForDisplay}}">{{item.attributes.reason.stringForDisplay}}</h5>
      <div class="row">
        <div *ngIf="item.relationships.contents.data[0]" class="col-6">
          <app-media-item-view [item]="item.relationships.contents.data[0]"
            [itemRelationships]="collectionRelationships ? collectionRelationships[0 + (items.indexOf(item) * 4)] : null">
            </app-media-item-view>
        </div>
        <div *ngIf="item.relationships.contents.data[1]" class="col-6">
          <app-media-item-view [item]="item.relationships.contents.data[1]"
            [itemRelationships]="collectionRelationships ? collectionRelationships[1 + (items.indexOf(item) * 4)] : null">
          </app-media-item-view>
        </div>
      </div>
      <div class="row">
        <div *ngIf="item.relationships.contents.data[2]" class="col-6">
          <app-media-item-view [item]="item.relationships.contents.data[2]"
            [itemRelationships]="collectionRelationships ? collectionRelationships[2 + (items.indexOf(item) * 4)] : null">
          </app-media-item-view>
        </div>
        <div *ngIf="item.relationships.contents.data[3]" class="col-6">
          <app-media-item-view [item]="item.relationships.contents.data[3]"
            [itemRelationships]="collectionRelationships ? collectionRelationships[3 + (items.indexOf(item) * 4)] : null">
          </app-media-item-view>
        </div>
      </div>
    </div>
  </div>
</div>

<hr *ngIf="divider" />
<br *ngIf="!divider" />
