<div class="container-fluid">
  <h1>For You</h1>

  <div *ngIf="this.loading">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>

  <div *ngIf='!this.loading'>

    <div *ngIf="musicService.recommendations && musicService.recommendations.length && musicService.recommendations[0]">
      <h2>{{musicService.recommendations[0].attributes.title.stringForDisplay}}</h2> <!-- Personalized Mixes -->
      <app-media-item-collection-row [items]="musicService.recommendations[0].relationships.contents.data" [size]="2" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.recentPlayed && musicService.recentPlayed.length">
      <h2>Recently Played</h2> <!-- Recently Played -->
      <app-media-item-collection-row [items]="musicService.recentPlayed" [collectionRelationships]="recentPlayedRelationships" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.heavyRotation && musicService.heavyRotation.length">
      <h2>Heavy Rotation</h2> <!-- Heavy Rotation -->
      <app-media-item-collection-row [items]="musicService.heavyRotation" [collectionRelationships]="heavyRotationRelationships" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.recommendations && musicService.recommendations.length && musicService.recommendations[1]">
      <h2>{{musicService.recommendations[1].attributes.title.stringForDisplay}}</h2> <!-- Today's Playlists -->
      <app-media-item-collection-row [items]="musicService.recommendations[1].relationships.contents.data" [size]="2" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.recommendations && musicService.recommendations.length && musicService.recommendations[2]">
      <h2>{{musicService.recommendations[2].attributes.title.stringForDisplay}}</h2> <!-- Today's Albums -->
      <app-media-item-collection-row [items]="musicService.recommendations[2].relationships.recommendations.data" [divider]=true [todaysAlbums]=true [collectionRelationships]="todaysAlbumsRelationships"></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.recommendations && musicService.recommendations.length && musicService.recommendations[3]">
      <h2>{{musicService.recommendations[3].attributes.title.stringForDisplay}}</h2> <!-- Artist Spotlight Playlists -->
      <app-media-item-collection-row [items]="musicService.recommendations[3].relationships.contents.data" [size]="2" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.recommendations && musicService.recommendations.length && musicService.recommendations[4]">
      <h2>{{musicService.recommendations[4].attributes.title.stringForDisplay}}</h2> <!-- New Releases -->
      <app-media-item-collection-row [items]="musicService.recommendations[4].relationships.contents.data" [collectionRelationships]="newReleasesRelationships"></app-media-item-collection-row>
    </div>

  </div>
</div>