.header {
  color: var(--on-background);
  padding: 0 15px;
}

.media-item-group {
  padding-bottom: 15px;
}

.media-item-group > .row {
  position: relative;
  left: 15px;
  overflow-x: visible;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding: 0;
}

app-media-item-view {
  padding: 0 7px;
}

::ng-deep {
  .ps__thumb-x { background-color: var(--primary)!important; }
  .ps__rail-x { opacity: 1!important; background-color: rgba(0,0,0,0)!important; }
}
