.header {
  color: var(--on-background);
  padding: 0 45px;
}

.media-item-group-container {
  display: flex;
  width: 100%;
}

.left, .right {
  display: inline-block;
  width: 35px;
  div {
    width: 25px;
    height: 56px;
    position: relative;
    background-color: var(--on-background);
    -webkit-mask: url(../../../../../assets/images/arrow.svg) no-repeat center;
    mask: url(../../../../../assets/images/arrow.svg) no-repeat center;
  }

  &:hover {
    cursor: pointer;
    div { background-color: var(--primary); }
  }
}

.right {
  div {
    float: right;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.1;
}

.media-item-group {
  display: inline-flex;
  flex-wrap: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
  width: calc(100% - 10px);
  margin: 0;
  padding-bottom: 15px;
}

.media-item {
  @media (min-width: 1200px) {
    flex: 0 0 16.666667%; max-width: 16.666667%;
    &.large { flex: 0 0 25%; max-width: 25%; }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    flex: 0 0 20%; max-width: 20%;
    &.large { flex: 0 0 25%; max-width: 25%; }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    flex: 0 0 25%; max-width: 25%;
    &.large { flex: 0 0 33.333333%; max-width: 33.333333%; }
  }
  @media (min-width: 607px) and  (max-width: 767px) {
    flex: 0 0 33.333333%; max-width: 33.333333%;
    &.large { flex: 0 0 50%; max-width: 50%; }
  }
  @media (max-width: 606px) {
    flex: 0 0 50%; max-width: 50%;
    &.large { flex: 0 0 50%; max-width: 50%; }
  }
}
