.header {
  color: var(--on-background);
  padding: 0 15px;
}

.media-item-group {
  padding-bottom: 15px;
}

.media-item-group > .row {
  position: relative;
  left: 15px;
  overflow-x: visible;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding: 0;
}

.media-item {
  @media (min-width: 1200px) {
    flex: 0 0 16.666667%; max-width: 16.666667%;
    &.large { flex: 0 0 25%; max-width: 25%; }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    flex: 0 0 20%; max-width: 20%;
    &.large { flex: 0 0 25%; max-width: 25%; }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    flex: 0 0 25%; max-width: 25%;
    &.large { flex: 0 0 33.333333%; max-width: 33.333333%; }
  }
  @media (min-width: 607px) and  (max-width: 767px) {
    flex: 0 0 33.333333%; max-width: 33.333333%;
    &.large { flex: 0 0 50%; max-width: 50%; }
  }
  @media (max-width: 606px) {
    flex: 0 0 50%; max-width: 50%;
    &.large { flex: 0 0 50%; max-width: 50%; }
  }
}

app-media-item-view {
  padding: 0 7px;
}

::ng-deep {
  .ps__thumb-x { background-color: var(--primary)!important; }
  .ps__rail-x { opacity: 1!important; background-color: rgba(0,0,0,0)!important; }
}
