#now-playing-wrapper {
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0px;
  margin-left: 0px;
  background-color: #1e1e1e
}

.media-controls {
  position: relative;
  top: 15px;
  top: 15px;
  width: 250px;
  text-align: center;
}

.track-controls {
  display: inline-block;
}

.media-control-icon {
  color: lightgrey;
  background-color: #1e1e1e;
}

.volume-icon {
  padding: 18px 0px;
  color: lightgrey;
  background-color: #1e1e1e;
}

.volume-slider {
  left: -10px;
}

.now-playing-bar {
  position: relative;
  top: 17px;
  left: 25px;
  width: calc(100% - 300px);
  height: 66px;
  background-color: lightgray;
}

.now-playing-album-art {
  padding: 5px 0px;
  height: 56px;
  width: 56px;
  float: right;
}

.queue-options {
  /* position: relative; */
  padding: 15px 0px 15px 20px;
  height: 56px;
  width: 56px;
  float: left;
}

.now-playing-text {
  position: relative;
  padding-top: 5px;
  text-align: center;
}

.now-playing-progress {
  position: relative;
  top: -32px;
  left: 60px;
  width: calc(100% - 90px);
  height: 3px;
  /* background-color: grey; */
}

.track-progress {
  width: 100%;
}

p {
  font-size: 11pt;
}

.logo {
  position: relative;
  padding-top: 7px;
}

.track-time {
  position: relative;
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}