<div id="now-playing-wrapper" class="row">
  <div class='media-controls'>
    <div class="row btn-group" role="group">
      <i class="fas fa-backward media-control-icon" (click)='musicService.playPrevious()'></i>
      <i class="fas fa-play media-control-icon" *ngIf="!this.musicService.playing && !this.musicService.playbackLoading" (click)='musicService.play()'></i>
      <i class="fas fa-pause media-control-icon" *ngIf="this.musicService.playing && !this.musicService.playbackLoading" (click)='musicService.pause()'></i>
      <mat-spinner *ngIf="this.musicService.playbackLoading" class="spinner" [diameter]="25" (click)='musicService.stop()'></mat-spinner>
      <i class="fas fa-forward media-control-icon" (click)='musicService.playNext()'></i>
    </div>
    <div class='row'>
      <div class='col-3 volume-icon align-bottom'><i class="fas fa-volume-down fa-xs float-right"></i></div>
      <div class='col-6'><mat-slider class='volume-slider' [max]="1.0" [min]="0.0" [step]="0.01" [value]="musicService.musicKit.player.volume" (input)="musicService.setVolume($event.value)"></mat-slider></div>
      <div class='col-3 volume-icon align-bottom'><i class="fas fa-volume-up fa-xs float-left"></i></div>
    </div>
  </div>
  <div *ngIf='musicService.nowPlayingItem' class="rounded now-playing-bar row">
    <div class='col-2'>
      <div class='now-playing-album-art rounded'>
        <a [routerLink]="['/albums', musicService.nowPlayingItem.assets[0].metadata.playlistId]">
          <img class="img-fluid rounded" [src]='musicService.formatArtworkURL(musicService.nowPlayingItem.attributes.artwork, 100)' />
        </a>
      </div>
      <div *ngIf="musicService.nowPlayingPlaylist" class="now-playing-playlist rounded">
        <a [routerLink]="['/playlists', musicService.nowPlayingPlaylist.id]">
          <img class="img-fluid rounded" [src]='musicService.formatArtworkURL(musicService.nowPlayingPlaylist.attributes.artwork, 100)' />
        </a>
      </div>
      <div>
        <div class="row shuffle-icon" [ngClass]="musicService.musicKit.player.shuffleMode === 0 ? 'text-muted' : ''" title="shuffle">
          <i class="fas fa-random" (click)="toggleShuffle()"></i>
        </div>
        <div class="row current-time"><span>{{musicService.musicKit.player.currentPlaybackTime | minutesSeconds}}</span></div>
      </div>
    </div>
    <div class='col-8'>
      <div class='row now-playing-text justify-content-center'>
        <div class='text-truncate'>
          <p>
            {{musicService.nowPlayingItem.attributes.name}}<br />
            <a [routerLink]="['/albums', musicService.nowPlayingItem.assets[0].metadata.playlistId]">{{musicService.nowPlayingItem.albumName}}</a> | 
            <a [routerLink]="['/artists', musicService.nowPlayingItem.assets[0].metadata.artistId]">{{musicService.nowPlayingItem.artistName}}</a>
          </p>
        </div>
      </div>
      <div class='row now-playing-progress'>
        <mat-slider class='track-progress' [max]="musicService.musicKit.player.currentPlaybackDuration" [min]="0" [step]="1" [value]="musicService.musicKit.player.currentPlaybackTime" (change)="seekToTime($event.value)"></mat-slider>
      </div>
    </div>
    <div class='col-2'>
      <div>
        <div class="row repeat-icon" [ngClass]="musicService.musicKit.player.repeatMode === 0 ? 'text-muted' : ''" title="repeat">
          <i class="fas fa-redo" (click)="toggleRepeat()"></i>
        </div>
        <div class="row remaining-time"><span>{{musicService.musicKit.player.currentPlaybackTimeRemaining | minutesSeconds}}</span></div>
      </div>
      <div class='queue-options'>
        <i class="material-icons now-playing-queue" data-toggle="modal" data-target="#queueModal">queue_music</i>
      </div>
    </div>
  </div>
  <div *ngIf='!musicService.nowPlayingItem' class="rounded now-playing-bar justify-content-center logo row">
    <i class="fab fa-apple fa-3x"></i>
  </div>
</div>


<div class="modal" id="queueModal" tabindex="-1" role="dialog" aria-labelledby="queueModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <nav class="grey">
          <div class="nav nav-pills" id="pills-tab" role="tablist">
            <a class="nav-item nav-link active" id="pills-queue-tab" data-toggle="tab" href="#pills-queue" role="tab" aria-controls="pills-queue" aria-selected="true">Queue</a>
            <a class="nav-item nav-link" id="pills-history-tab" data-toggle="tab" href="#pills-history" role="tab" aria-controls="pills-history" aria-selected="false">History</a>
            <a class="nav-item nav-link" id="pills-lyrics-tab" data-toggle="tab" href="#pills-lyrics" role="tab" aria-controls="pills-lyrics" aria-selected="false">Lyrics</a>
          </div>
        </nav>
      </div>
      <div class="modal-body queue">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-queue" role="tabpanel" aria-labelledby="pills-queue-tab">
            <table *ngIf="musicService && musicService.queue" class="table table-hover">
              <tbody>
                <tr *ngFor="let item of musicService.queue" class="queue-row">
                  <td (click)="musicService.musicKit.changeToMediaAtIndex(musicService.musicKit.player.queue.items.indexOf(item))">
                    <img class="queue-artwork" [src]="musicService.formatArtworkURL(item.artwork, 50)" />
                  </td>
                  <td class="queue-text text-truncate" (click)="musicService.musicKit.changeToMediaAtIndex(musicService.musicKit.player.queue.items.indexOf(item))">
                    {{item.title}}<br />
                    {{item.albumName}} - {{item.artistName}}
                  </td>
                  <td>
                    <a role='button' id='dropdown{{item.id}}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                      <i class="fas fa-ellipsis-h queue-options"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item">Add to Library</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item">Like</a>
                      <a class="dropdown-item">Dislike</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab">
            <table *ngIf="musicService && musicService.history && musicService.history.length" class="table table-hover">
              <tbody>
                <tr *ngFor="let item of musicService.history.slice().reverse()" class="queue-row">
                  <td>
                    <img class="queue-artwork" [src]="musicService.formatArtworkURL(item.artwork, 50)" />
                  </td>
                  <td class="queue-text">
                    {{item.title}}<br />
                    {{item.albumName}} - {{item.artistName}}
                  </td>
                  <td>
                    <a role='button' id='dropdown{{item.id}}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                      <i class="fas fa-ellipsis-h queue-options"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item">Add to Library</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item">Like</a>
                      <a class="dropdown-item">Dislike</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="pills-lyrics" role="tabpanel" aria-labelledby="pills-lyrics-tab">...</div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>