.loading-spinner {
  top: 32vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.artist-background {
  background-image: url(../../assets/images/artist_background_placeholder.jpg);
  background-position: center;
  background-size: 100%;
}
