.loading-spinner {
  top: 32vh;
  margin: 0 auto;
}

.artist-background {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-position: center;
  background-size: 100%;
  padding-bottom: 10px;
}

.artist-info {
  background-color: whitesmoke;
  padding: 5px 5px 15px 5px;
}

.artist-info h2 {
  padding-left: 15px;
}

.artist-info p {
  font-size: 9pt;
}

.artist-bio {
  max-height: 250px;
  overflow-y: auto;
  padding-left: 30px;
}

.artist-details {
  padding-left: 50px;
}

.scrollbar::-webkit-scrollbar
{
  height: 8px;
	width: 8px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-track
{
  box-shadow: #F5F5F5;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
  box-shadow: #919191;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 8px;
	background-color: #919191;
}
