<div class="container-fluid">

  <div *ngIf="this.loading">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>

  <div *ngIf="!this.loading">
    <div *ngIf="musicService.artist">
      <div class="artist-background container-fluid" [ngStyle]="{'background-image': 'url(' + artistImage + ')'}">
        <h1 class="text-truncate text-light">{{musicService.artist.attributes.name}}</h1>

        <div class="row container-fluid">
          <div *ngIf="musicService.artist && musicService.artist.relationships.albums.data && musicService.artist.relationships.albums.data | albumFilter : 'latestRelease'" class="col-6 col-sm-4 col-md-3" [ngClass]="(musicService.artist.relationships.albums.data | albumFilter : 'upcomingRelease') ? 'offset-sm-4 offset-md-6' : 'offset-6 offset-sm-8 offset-md-9'">
            <h5 class="text-truncate text-light" title="Latest Release">Latest Release</h5>
            <app-media-item-view [item]="musicService.artist.relationships.albums.data | albumFilter : 'latestRelease'" [light]=true></app-media-item-view>
          </div>
          <div *ngIf="musicService.artist && musicService.artist.relationships.albums.data && musicService.artist.relationships.albums.data | albumFilter : 'upcomingRelease'" class="col-6 col-sm-4 col-md-3">
            <h5 class="text-truncate text-light" title="Upcoming Release">Upcoming Release</h5>
            <app-media-item-view [item]="musicService.artist.relationships.albums.data | albumFilter : 'upcomingRelease'" [light]=true></app-media-item-view>
          </div>
        </div>
      </div>

      <hr />

      <div *ngIf="topSongs">
        <h2>Top Songs</h2>
        <app-media-item-collection-row [items]="topSongs" [divider]=true></app-media-item-collection-row>
      </div>

      <div *ngIf="albums && albums.length">
        <div class="row">
          <div class="col-6"><h2>Albums</h2></div>
          <div *ngIf="albums.length > 1" class="col-6">
            <select class="float-right" [(ngModel)]="sortAlbums">
              <option *ngFor="let option of sortOptions" [ngValue]="option[0]" selected>{{option[1]}}</option>
            </select>
          </div>
        </div>
        <app-media-item-collection-row [items]="sortItems(albums, sortAlbums)" [divider]=true></app-media-item-collection-row>
      </div>

      <div *ngIf="singles && singles.length">
        <div class="row">
          <div class="col-6"><h2>EPs & Singles</h2></div>
          <div *ngIf="singles.length > 1" class="col-6">
            <select class="float-right" [(ngModel)]="sortSingles">
              <option *ngFor="let option of sortOptions" [ngValue]="option[0]" selected>{{option[1]}}</option>
            </select>
          </div>
        </div>
        <app-media-item-collection-row [items]="sortItems(singles, sortSingles)" [divider]=true></app-media-item-collection-row>
      </div>

      <div *ngIf="liveAlbums && liveAlbums.length">
        <div class="row">
          <div class="col-6"><h2>Live Albums</h2></div>
          <div *ngIf="liveAlbums.length > 1" class="col-6">
            <select class="float-right" [(ngModel)]="sortLiveAlbums">
              <option *ngFor="let option of sortOptions" [ngValue]="option[0]" selected>{{option[1]}}</option>
            </select>
          </div>
        </div>
        <app-media-item-collection-row [items]="sortItems(liveAlbums, sortLiveAlbums)" [divider]=true></app-media-item-collection-row>
      </div>

      <div *ngIf="compilations && compilations.length">
        <div class="row">
          <div class="col-6"><h2>Compilation Albums</h2></div>
          <div *ngIf="compilations.length > 1" class="col-6">
            <select class="float-right" [(ngModel)]="sortCompilations">
              <option *ngFor="let option of sortOptions" [ngValue]="option[0]" selected>{{option[1]}}</option>
            </select>
          </div>
        </div>
        <app-media-item-collection-row [items]="sortItems(compilations, sortCompilations)" [divider]=true></app-media-item-collection-row>
      </div>

      <div *ngIf="musicService.playlists && musicService.playlists.relationships.playlists.data && musicService.playlists.relationships.playlists.data.length">
        <h2>Artist Playlists</h2>
        <app-media-item-collection-row [items]="musicService.playlists.relationships.playlists.data"></app-media-item-collection-row>
      </div>

      <div *ngIf="artistInfo && artistInfo.attributes.artistBio" class="artist-info">
        <h2>About {{artistInfo.attributes.name}}</h2>
        <div class="row">
          <div class="col-9 artist-bio scrollbar">
            <p>{{artistInfo.attributes.artistBio}}</p>
          </div>
          <div class="col-3 artist-details">
            <div class="row">
              <span *ngIf="artistInfo.attributes.isGroup"><b>ORIGIN</b><br />{{artistInfo.attributes.origin}}</span>
              <span *ngIf="!artistInfo.attributes.isGroup"><b>HOMETOWN</b><br />{{artistInfo.attributes.origin}}</span>
            </div>
            <br />
            <div class="row">
              <span *ngIf="artistInfo.attributes.isGroup"><b>FORMED</b><br />{{artistInfo.attributes.bornOrFormedDate | date : longDate}}</span>
              <span *ngIf="!artistInfo.attributes.isGroup"><b>BORN</b><br />{{artistInfo.attributes.bornOrFormedDate | date : longDate}}</span>
            </div>
            <br />
            <div class="row">
              <span><b>GENRE</b><br />{{musicService.artist.attributes.genreNames[0]}}</span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="relatedArtists">
        <br *ngIf="artistInfo && artistInfo.attributes.artistBio" />
        <h2>Related Artists</h2>
        <app-media-item-collection-row [items]="relatedArtists"></app-media-item-collection-row>
      </div>

    </div>
  </div>

</div>