.loading-spinner {
  top: 32vh;
  margin: 0 auto;
}

.artist-background {
  background-image: url(../../assets/images/artist_background_placeholder.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-position: center;
  background-size: 100%;
}
