<div class="container-fluid">
  <h1>Settings</h1>

  <div class="bitrate">
    <h3>Set playback bitrate</h3>
    <mat-form-field>
      <mat-label>Bitrate</mat-label>
      <mat-select [(value)]="bitrate">
        <mat-option value="64" (click)="playerService.setBitrate(64)">Standard (64kbps)</mat-option>
        <mat-option value="256" (click)="playerService.setBitrate(256)">High (256kbps)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="media-devices">
    <h3>Auto Play/Pause</h3>
    <p>This feature will automatically play or pause music when the specified device connects or disconnects.</p>
    <mat-checkbox [(ngModel)]="enablePlayPause" (change)="changeEnablePlayPause()">Enable (experimental)</mat-checkbox>
    <br />
    <mat-form-field class="device-name">
      <input matInput type="text" placeholder="Device Name" [(ngModel)]="device.name">
      <button mat-button *ngIf="device.name" matSuffix mat-icon-button aria-label="Clear" (click)="device.name=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <br />
    <mat-form-field class="device-id">
      <input matInput type="text" placeholder="Hardware ID" [(ngModel)]="device.id">
      <button mat-button *ngIf="device.id" matSuffix mat-icon-button aria-label="Clear" (click)="device.id=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <br />
    <button mat-stroked-button class="save-button" (click)="saveDevice()">Save</button>
    <button mat-stroked-button matSuffix (click)="showConnectedDevices()">Show Connected Devices</button>
  </div>

</div>
