.bitrate {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.media-devices {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.media-devices p {
  font-size: 10pt;
}

.device-name {
  width: 400px;
}

.device-id {
  width: 590px;
}

.save-button {
  margin-right: 15px;
}
