<div *ngIf="showHeader" class='row'>

  <div class="expanded">
    <div *ngIf="collection.type === 'albums'" class='col-11'>
      <h4 class="text-truncate collection-title">{{collection.attributes.name}}</h4>
      <h5 *ngIf='collection.relationships.artists.data && collection.relationships.artists.data.length'><a [routerLink]="['/artists', collection.relationships.artists.data[0].id]">{{collection.attributes.artistName}}</a> | {{collection.attributes.genreNames[0]}}</h5>
      <h5 *ngIf='collection.relationships.artists.data && !collection.relationships.artists.data.length'>{{collection.attributes.artistName}} | {{collection.attributes.genreNames[0]}}</h5>
    </div>
    <div *ngIf="collection.type === 'library-albums'" class='col-11'>
      <h4 class="text-truncate collection-title">{{collection.attributes.name}}</h4>
      <h5 *ngIf='collection.relationships.artists.data && collection.relationships.artists.data.length'><a [routerLink]="['/artists', collection.relationships.artists.data[0].id]">{{collection.attributes.artistName}}</a></h5>
      <h5 *ngIf='collection.relationships.artists.data && !collection.relationships.artists.data.length'>{{collection.attributes.artistName}}</h5>
    </div>
    <div *ngIf="collection.type.includes('playlists')" class='col-11'>
      <h4 class="text-truncate collection-title">{{collection.attributes.name}}</h4>
      <h5>{{collection.attributes.curatorName}} | Updated {{collection.attributes.lastModifiedDate | date : 'd MMMM' }}</h5>
    </div>
    <div class='col-1 collection-options-dropdown'>
      <a role='button' id='dropdown{{collection.id}}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
        <i class="fas fa-ellipsis-h"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)='musicService.playItem(collection)'>Play</a>
        <a class="dropdown-item" (click)='musicService.playItem(collection, 0, true)'>Shuffle</a>
        <a class="dropdown-item" (click)='musicService.queueNext(collection)'>Play Next</a>
        <a class="dropdown-item" (click)='musicService.queueLater(collection)'>Play Later</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="musicService.addToLibrary(collection)">Add to Library</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">Like</a>
        <a class="dropdown-item">Dislike</a>
      </div>
    </div>
  </div>
  
  <div class="minimised">
    <div class="row header">
      <div class="col-4">
        <img class="img-fluid card-img-top rounded" [src]='musicService.formatArtworkURL(collection.attributes.artwork, 800)' />
        <span><a (click)='musicService.playItem(collection, 0)'><i class="fas fa-play fa-xs"></i>Play</a></span><br />
        <span><a (click)='musicService.playItem(collection, 0, true)'><i class="fas fa-random fa-xs"></i>Shuffle</a></span>
      </div>
      <div class="col-8">
        <div class="row">
          <div *ngIf="collection.type === 'albums'" class='col-10'>
            <h4 class="text-truncate collection-title">{{collection.attributes.name}}</h4>
            <h5 *ngIf='collection.relationships.artists.data && collection.relationships.artists.data.length'><a [routerLink]="['/artists', collection.relationships.artists.data[0].id]">{{collection.attributes.artistName}}</a> | {{collection.attributes.genreNames[0]}}</h5>
            <h5 *ngIf='collection.relationships.artists.data && !collection.relationships.artists.data.length'>{{collection.attributes.artistName}} | {{collection.attributes.genreNames[0]}}</h5>
          </div>
          <div *ngIf="collection.type === 'library-albums'" class='col-10'>
            <h4 class="text-truncate collection-title">{{collection.attributes.name}}</h4>
            <h5 *ngIf='collection.relationships.artists.data && collection.relationships.artists.data.length'><a [routerLink]="['/artists', collection.relationships.artists.data[0].id]">{{collection.attributes.artistName}}</a></h5>
            <h5 *ngIf='collection.relationships.artists.data && !collection.relationships.artists.data.length'>{{collection.attributes.artistName}}</h5>
          </div>
          <div *ngIf="collection.type.includes('playlists')" class='col-10'>
            <h4 class="text-truncate collection-title">{{collection.attributes.name}}</h4>
            <h5>{{collection.attributes.curatorName}} | Updated {{collection.attributes.lastModifiedDate | date : 'd MMMM' }}</h5>
          </div>
          <div class='col-2 collection-options-dropdown'>
            <a role='button' id='dropdown{{collection.id}}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              <i class="fas fa-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)='musicService.playItem(collection)'>Play</a>
              <a class="dropdown-item" (click)='musicService.playItem(collection, 0, true)'>Shuffle</a>
              <a class="dropdown-item" (click)='musicService.queueNext(collection)'>Play Next</a>
              <a class="dropdown-item" (click)='musicService.queueLater(collection)'>Play Later</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Add to Library</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Like</a>
              <a class="dropdown-item">Dislike</a>
            </div>
          </div>
        </div>
        <span *ngIf="collection.type.includes('albums')" class='text-muted'>{{collection.attributes.trackCount}} Songs, {{(musicService.albumDuration / 1000 / 60) | hoursMinutes}}</span>
        <span *ngIf="collection.type.includes('playlists')" class='text-muted'>{{collection.relationships.tracks.data.length}} Songs, {{(musicService.playlistDuration / 1000 / 60) | hoursMinutes}}</span>
        <div *ngIf="collection.type.includes('albums')" class="description">
          <p *ngIf='collection.attributes.editorialNotes && collection.attributes.editorialNotes.standard'>{{collection.attributes.editorialNotes.standard}}</p>
          <p *ngIf='collection.attributes.editorialNotes && !collection.attributes.editorialNotes.standard'>{{collection.attributes.editorialNotes.short}}</p>
        </div>
        <div *ngIf="collection.type.includes('playlists')" class="description">
          <p *ngIf='collection.attributes.description && collection.attributes.description.standard'>{{collection.attributes.description.standard}}</p>
          <p *ngIf='collection.attributes.description && !collection.attributes.description.standard'>{{collection.attributes.description.short}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<table class='table table-hover collection-text' appLazyLoadImage>

  <thead>
    <tr>
      <th class='media-status'></th>
      <th class='item-text'>Song</th>
      <th *ngIf="showArtistAlbum" class='artist-text'>Artist</th>
      <th *ngIf="showArtistAlbum" class='album-text'>Album</th>
      <th class='time text-right'>Time</th>
      <th class='media-options'></th>
    </tr>
  </thead>

  <tbody *ngIf="collection && collection.relationships && collection.relationships.tracks"> <!-- collection is album/playlist -->
    <tr *ngFor='let item of collection.relationships.tracks.data' class='mediarow'>
      <td class='media-status' (click)='!musicService.isItemCurrentlyPlaying(item.id) ? musicService.playItem(collection, collection.relationships.tracks.data.indexOf(item)) : musicService.pause()'>
        <span *ngIf='!musicService.isItemCurrentlyPlaying(item.id) && !showArtwork' class="text-center text-muted">{{collection.relationships.tracks.data.indexOf(item) + 1}}</span>
        <img *ngIf='showArtwork' class="img-fluid" [attr.data-src]="musicService.formatArtworkURL(item.attributes.artwork, 50)" src="././assets/images/placeholder.png" />
        <i *ngIf='!musicService.isItemCurrentlyPlaying(item.id)' class="fas fa-play media-icon"></i>
        <i *ngIf='musicService.isItemCurrentlyPlaying(item.id)' class="fas fa-pause media-icon"></i>
        <i *ngIf='musicService.isItemCurrentlyPlaying(item.id)' class="fas fa-volume-up now-playing-icon"></i>
      </td>
      <td class="item-text" (click)="!musicService.isItemCurrentlyPlaying(item.id) ? musicService.playItem(collection, collection.relationships.tracks.data.indexOf(item)) : musicService.pause()" title="{{item.attributes.name}}">
        <div class="row">
          <div class="text-truncate" [ngClass]="!item.attributes.contentRating && item.attributes.contentRating !== 'explicit' ? 'col-12' : (showArtistAlbum ? 'col-10' : 'col-11')">
            {{item.attributes.name}}
          </div>
          <div *ngIf="item.attributes.contentRating && item.attributes.contentRating === 'explicit'" class="col-1 text-muted">
            <i class="material-icons explicit-icon">explicit</i>
          </div>
        </div>
      </td>
      <td *ngIf="showArtistAlbum" class='artist-text text-truncate' title="{{item.attributes.artistName}}">
        <a *ngIf="itemRelationships && itemRelationships[collection.relationships.tracks.data.indexOf(item)]" [routerLink]="['/artists', itemRelationships[collection.relationships.tracks.data.indexOf(item)][1]]">{{item.attributes.artistName}}</a>
        <a *ngIf="!itemRelationships || !itemRelationships[collection.relationships.tracks.data.indexOf(item)]">{{item.attributes.artistName}}</a>
      </td>
      <td *ngIf="showArtistAlbum" class='album-text text-truncate' title="{{item.attributes.albumName}}">
        <a *ngIf="itemRelationships && itemRelationships[collection.relationships.tracks.data.indexOf(item)]" [routerLink]="['/albums', itemRelationships[collection.relationships.tracks.data.indexOf(item)][2]]">{{item.attributes.albumName}}</a>
        <a *ngIf="!itemRelationships || !itemRelationships[collection.relationships.tracks.data.indexOf(item)]">{{item.attributes.albumName}}</a>
      </td>
      <td class='time text-right'>{{item.attributes.durationInMillis | date : 'm:ss'}}</td>
      <td class='media-options'>
        <div class="media-icon">
          <a role='button' id='dropdown{{item.id}}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            <i class="fas fa-ellipsis-h"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)='musicService.playItem(item)'>Play</a>
            <a class="dropdown-item" (click)='musicService.queueNext(item)'>Play Next</a>
            <a class="dropdown-item" (click)='musicService.playItem(item)'>Play Later</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Add to Library</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Like</a>
            <a class="dropdown-item">Dislike</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>

  <tbody *ngIf="collection && (!collection.relationships || !collection.relationships.tracks)"> <!-- collection is individual tracks -->
    <tr *ngFor='let item of collection' class='mediarow'>
      <td class='media-status' (click)='!musicService.isItemCurrentlyPlaying(item.id) ? musicService.playItem(collection, collection.indexOf(item)) : musicService.pause()'>
        <span *ngIf='!musicService.isItemCurrentlyPlaying(item.id) && !showArtwork' class="text-center text-muted">{{collection.indexOf(item) + 1}}</span>
        <img *ngIf='showArtwork' class="img-fluid" [attr.data-src]="musicService.formatArtworkURL(item.attributes.artwork, 50)" src="././assets/images/placeholder.png" />
        <i *ngIf='!musicService.isItemCurrentlyPlaying(item.id)' class="fas fa-play media-icon"></i>
        <i *ngIf='musicService.isItemCurrentlyPlaying(item.id)' class="fas fa-pause media-icon"></i>
        <i *ngIf='musicService.isItemCurrentlyPlaying(item.id)' class="fas fa-volume-up now-playing-icon"></i>
      </td>
      <td class="item-text text-truncate" (click)="!musicService.isItemCurrentlyPlaying(item.id) ? musicService.playItem(collection, collection.indexOf(item)) : musicService.pause()" title="{{item.attributes.name}}">
        <div class="row">
          <div class="text-truncate" [ngClass]="!item.attributes.contentRating && item.attributes.contentRating !== 'explicit' ? 'col-12' : (showArtistAlbum ? 'col-10' : 'col-11')">
            {{item.attributes.name}}
          </div>
          <div *ngIf="item.attributes.contentRating && item.attributes.contentRating === 'explicit'" class="col-1 text-muted">
            <i class="material-icons explicit-icon">explicit</i>
          </div>
        </div>
      </td>
      <td *ngIf="showArtistAlbum" class='artist-text text-truncate' title="{{item.attributes.artistName}}">
        <a *ngIf="itemRelationships && itemRelationships[collection.indexOf(item)]" [routerLink]="['/artists', itemRelationships[collection.indexOf(item)][1]]">{{item.attributes.artistName}}</a>
        <a *ngIf="!itemRelationships || !itemRelationships[collection.indexOf(item)]">{{item.attributes.artistName}}</a>
      </td>
      <td *ngIf="showArtistAlbum" class='album-text text-truncate' title="{{item.attributes.albumName}}">
        <a *ngIf="itemRelationships && itemRelationships[collection.indexOf(item)]" [routerLink]="['/albums', itemRelationships[collection.relationships.tracks.data.indexOf(item)][2]]">{{item.attributes.albumName}}</a>
        <a *ngIf="!itemRelationships || !itemRelationships[collection.indexOf(item)]">{{item.attributes.albumName}}</a>
      </td>
      <td class='time text-right'>{{item.attributes.durationInMillis | date : 'm:ss'}}</td>
      <td class='media-options'>
        <div class="media-icon">
          <a role='button' id='dropdown{{item.id}}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            <i class="fas fa-ellipsis-h"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)='musicService.playItem(item)'>Play</a>
            <a class="dropdown-item" (click)='musicService.queueNext(item)'>Play Next</a>
            <a class="dropdown-item" (click)='musicService.playItem(item)'>Play Later</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Add to Library</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Like</a>
            <a class="dropdown-item">Dislike</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>

</table>
