.loading-spinner {
  top: 25vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.curator-background {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-position: center;
  background-size: 100%;
}
