<perfect-scrollbar>
  <div class="container-fluid">
    <div class="header">
      <h1>For You</h1>
    </div>

    <div *ngIf="loading">
      <mat-spinner class="loading-spinner"></mat-spinner>
    </div>

    <div *ngIf='!loading'>

      <div *ngIf="playerService.recommendations && playerService.recommendations.length && playerService.recommendations[0]">
        <app-media-item-collection-carousel [collection]="playerService.recommendations[0].relationships.contents.data" [size]="2">
          <h3 class="text-truncate" title="{{playerService.recommendations[0].attributes.title.stringForDisplay}}">{{playerService.recommendations[0].attributes.title.stringForDisplay}}</h3>
        </app-media-item-collection-carousel>
      </div>

      <div *ngIf="playerService.recentPlayed && playerService.recentPlayed.length">
        <app-media-item-collection-carousel [collection]="playerService.recentPlayed">
          <h3 class="text-truncate" title="Recently Played">Recently Played</h3>
        </app-media-item-collection-carousel>
      </div>

      <div *ngIf="playerService.heavyRotation && playerService.heavyRotation.length">
        
        <app-media-item-collection-carousel [collection]="playerService.heavyRotation">
          <h3 class="text-truncate" title="Heavy Rotation">Heavy Rotation</h3>
        </app-media-item-collection-carousel>
      </div>

      <ng-container *ngIf="playerService.recommendations && playerService.recommendations.length">
        <div *ngFor="let recommendation of playerService.recommendations; let i=index">
          <ng-container *ngIf="!recommendation.attributes.isGroupRecommendation">
            <ng-container *ngIf="i != 0">
              <app-media-item-collection-carousel [collection]="recommendation.relationships.contents.data">
                <h3 class="text-truncate" title="{{recommendation.attributes.title.stringForDisplay}}">{{recommendation.attributes.title.stringForDisplay}}</h3>
              </app-media-item-collection-carousel>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="recommendation.attributes.isGroupRecommendation">
            <div *ngFor="let subRecommendation of recommendation.relationships.contents.data">
              <app-media-item-collection-carousel [collection]="subRecommendation.relationships.contents.data">
                <h3 class="text-truncate" title="{{subRecommendation.attributes.title.stringForDisplay}}">{{subRecommendation.attributes.title.stringForDisplay}}</h3>
              </app-media-item-collection-carousel>
            </div>
          </ng-container>
        </div>
      </ng-container>

    </div>
  </div>
</perfect-scrollbar>
