<div *ngIf="showHeader" class="row">

  <div class="expanded">
    <div *ngIf="collection.type === 'albums'" class="col-11">
      <h4 class="text-truncate collection-title">{{collection.attributes.name}}</h4>
      <h5 *ngIf="collection.relationships.artists.data && collection.relationships.artists.data.length"><a [routerLink]="['/artists', collection.relationships.artists.data[0].id]">{{collection.attributes.artistName}}</a> | {{collection.attributes.genreNames[0]}}</h5>
      <h5 *ngIf="collection.relationships.artists.data && !collection.relationships.artists.data.length">{{collection.attributes.artistName}} | {{collection.attributes.genreNames[0]}}</h5>
    </div>
    <div *ngIf="collection.type === 'library-albums'" class="col-11">
      <h4 class="text-truncate collection-title">{{collection.attributes.name}}</h4>
      <h5 *ngIf="collection.relationships.artists.data && collection.relationships.artists.data.length"><a [routerLink]="['/artists', collection.relationships.artists.data[0].id]">{{collection.attributes.artistName}}</a></h5>
      <h5 *ngIf="collection.relationships.artists.data && !collection.relationships.artists.data.length">{{collection.attributes.artistName}}</h5>
    </div>
    <div *ngIf="collection.type.includes('playlists')" class='col-11'>
      <h4 class="text-truncate collection-title">{{collection.attributes.name}}</h4>
      <h5 *ngIf="collection.relationships.curator && collection.relationships.curator.data && collection.relationships.curator.data.length && collection.relationships.curator.data[0].type === 'apple-curators'"><a [routerLink]="['/curators', 'apple', collection.relationships.curator.data[0].id]">{{collection.attributes.curatorName}}</a> | Updated {{collection.attributes.lastModifiedDate | date : 'd MMMM' }}</h5>
      <h5 *ngIf="collection.relationships.curator && collection.relationships.curator.data && collection.relationships.curator.data.length && collection.relationships.curator.data[0].type === 'curators'"><a [routerLink]="['/curators', 'user', collection.relationships.curator.data[0].id]">{{collection.attributes.curatorName}}</a> | Updated {{collection.attributes.lastModifiedDate | date : 'd MMMM' }}</h5>
      <h5 *ngIf="collection.relationships.curator && collection.relationships.curator.data && collection.relationships.curator.data.length && collection.relationships.curator.data[0].type === 'artists'"><a [routerLink]="['/artists', collection.relationships.curator.data[0].id]">{{collection.attributes.curatorName}}</a> | Updated {{collection.attributes.lastModifiedDate | date : 'd MMMM' }}</h5>
      <h5 *ngIf="collection.relationships.curator && collection.relationships.curator.data && !collection.relationships.curator.data.length">{{collection.attributes.curatorName}} | Updated {{collection.attributes.lastModifiedDate | date : 'd MMMM' }}</h5>
    </div>
    <div class="col-1 collection-options-dropdown">
      <a role="button" id="dropdown{{collection.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-h"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="musicPlayerService.playItem(collection)">Play</a>
        <a class="dropdown-item" (click)="musicPlayerService.playItem(collection, 0, true)">Shuffle</a>
        <a class="dropdown-item" (click)="musicPlayerService.queueNext(collection)">Play Next</a>
        <a class="dropdown-item" (click)="musicPlayerService.queueLater(collection)">Play Later</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="musicApiService.addToLibrary(collection)">Add to Library</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">Love</a>
        <a class="dropdown-item">Dislike</a>
      </div>
    </div>
  </div>
  
  <div class="minimised">
    <div class="row header">
      <div class="col-4" appLazyLoadImage>
        <img *ngIf="collection.attributes.artwork" class="img-fluid card-img-top rounded" [attr.data-src]="musicPlayerService.formatArtworkURL(collection.attributes.artwork, 800)" src="././assets/images/placeholder.png" />
        <img *ngIf="!collection.attributes.artwork" class="img-fluid card-img-top rounded" src="././assets/images/placeholder.png" />
        <span><a (click)='musicPlayerService.playItem(collection, 0)'><i class="fas fa-play fa-xs"></i>Play</a></span><br />
        <span><a (click)='musicPlayerService.playItem(collection, 0, true)'><i class="fas fa-random fa-xs"></i>Shuffle</a></span>
      </div>
      <div class="col-8">
        <div class="row">
          <div *ngIf="collection.type === 'albums'" class='col-10'>
            <h4 class="text-truncate collection-title">{{collection.attributes.name}}</h4>
            <h5 *ngIf="collection.relationships.artists.data && collection.relationships.artists.data.length" class="text-truncate"><a [routerLink]="['/artists', collection.relationships.artists.data[0].id]">{{collection.attributes.artistName}}</a> | {{collection.attributes.genreNames[0]}}</h5>
            <h5 *ngIf="collection.relationships.artists.data && !collection.relationships.artists.data.length" class="text-truncate">{{collection.attributes.artistName}} | {{collection.attributes.genreNames[0]}}</h5>
          </div>
          <div *ngIf="collection.type === 'library-albums'" class='col-10'>
            <h4 class="text-truncate collection-title">{{collection.attributes.name}}</h4>
            <h5 *ngIf="collection.relationships.artists.data && collection.relationships.artists.data.length" class="text-truncate"><a [routerLink]="['/artists', collection.relationships.artists.data[0].id]">{{collection.attributes.artistName}}</a></h5>
            <h5 *ngIf="collection.relationships.artists.data && !collection.relationships.artists.data.length" class="text-truncate">{{collection.attributes.artistName}}</h5>
          </div>
          <div *ngIf="collection.type.includes('playlists')" class='col-10'>
            <h4 class="text-truncate collection-title">{{collection.attributes.name}}</h4>
            <h5 class="text-truncate">{{collection.attributes.curatorName}} | Updated {{collection.attributes.lastModifiedDate | date : 'd MMMM' }}</h5>
          </div>
          <div class='col-2 collection-options-dropdown'>
            <a role='button' id='dropdown{{collection.id}}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              <i class="fas fa-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)='musicPlayerService.playItem(collection)'>Play</a>
              <a class="dropdown-item" (click)='musicPlayerService.playItem(collection, 0, true)'>Shuffle</a>
              <a class="dropdown-item" (click)='musicPlayerService.queueNext(collection)'>Play Next</a>
              <a class="dropdown-item" (click)='musicPlayerService.queueLater(collection)'>Play Later</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Add to Library</a>
              <div class="dropdown-divider"></div>
              <a *ngIf="getRating(item) !== 1" class="dropdown-item" (click)="addRating(item, getRating(item), 1)">Love</a>
              <a *ngIf="getRating(item) !== -1" class="dropdown-item" (click)="addRating(item, getRating(item), -1)">Dislike</a>
              <a *ngIf="getRating(item) !== 0" class="dropdown-item" (click)="addRating(item, getRating(item), 0)">Remove Rating</a>
            </div>
          </div>
        </div>
        <span *ngIf="collection.type.includes('albums')" class='text-muted'>{{collection.attributes.trackCount}} Songs, {{(collectionDuration / 1000 / 60) | hoursMinutes}}</span>
        <span *ngIf="collection.type.includes('playlists')" class='text-muted'>{{collection.relationships.tracks.data.length}} Songs, {{(collectionDuration / 1000 / 60) | hoursMinutes}}</span>
        <div *ngIf="collection.type.includes('albums')" class="">
          <p *ngIf='collection.attributes.editorialNotes && collection.attributes.editorialNotes.short'>{{collection.attributes.editorialNotes.short}}</p>
        </div>
        <div *ngIf="collection.type.includes('playlists')" class="">
          <p *ngIf='collection.attributes.description && collection.attributes.description.short'>{{collection.attributes.description.short}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover collection-text" appLazyLoadImage>

  <tbody>
    <tr *ngFor="let item of tracks" class="mediarow">
      <td class="media-status" (click)="!musicPlayerService.isItemCurrentlyPlaying(item.id) ? musicPlayerService.playItem(collection, tracks.indexOf(item)) : musicPlayerService.pause()">
        <span *ngIf="!musicPlayerService.isItemCurrentlyPlaying(item.id) && !showArtwork && !getPopularity(item.id) && collection.relationships" class="item-number text-center text-muted">{{tracks.indexOf(item) + 1}}</span>
        <i *ngIf="!musicPlayerService.isItemCurrentlyPlaying(item.id) && !showArtwork && getPopularity(item.id)" class="fas fa-star item-popularity text-center text-muted"></i>
        <img *ngIf="showArtwork" class="img-fluid" [attr.data-src]="musicPlayerService.formatArtworkURL(item.attributes.artwork, 50)" src="././assets/images/placeholder.png" />
        <i *ngIf="!musicPlayerService.isItemCurrentlyPlaying(item.id)" class="fas fa-play media-icon"></i>
        <i *ngIf="musicPlayerService.isItemCurrentlyPlaying(item.id)" class="fas fa-pause media-icon"></i>
        <i *ngIf="musicPlayerService.isItemCurrentlyPlaying(item.id)" class="fas fa-volume-up now-playing-icon"></i>
      </td>
      <td class="song-name text-truncate" (click)="!musicPlayerService.isItemCurrentlyPlaying(item.id) ? musicPlayerService.playItem(collection, tracks.indexOf(item)) : musicPlayerService.pause()" title="{{item.attributes.name}}" [ngStyle]="{'border': tracks[0].id === item.id ? 'none' : ''}">
        <span class="song-text" [ngStyle]="{'width': item.attributes.contentRating && item.attributes.contentRating === 'explicit' ? 'calc(100% - 20px)' : ''}">
          {{item.attributes.name}}
        </span>
        <i *ngIf="item.attributes.contentRating && item.attributes.contentRating === 'explicit'" class="material-icons explicit-icon pull-right text-muted">explicit</i>
      </td>
      <td *ngIf="showArtist" class="artist-name text-truncate" title="{{item.attributes.artistName}}" [ngStyle]="{'border': tracks[0].id === item.id ? 'none' : ''}">
        <a *ngIf="item.relationships" [routerLink]="['/artists', item.relationships.artists.data[0].id]">{{item.attributes.artistName}}</a>
        <span *ngIf="!item.relationships">{{item.attributes.artistName}}</span>
      </td>
      <td *ngIf="showAlbum" class="album-name text-truncate" title="{{item.attributes.albumName}}" [ngStyle]="{'border': tracks[0].id === item.id ? 'none' : ''}">
        <a *ngIf="item.relationships" [routerLink]="['/albums', item.relationships.albums.data[0].id]">{{item.attributes.albumName}}</a>
        <span *ngIf="!item.relationships">{{item.attributes.albumName}}</span>
      </td>
      <td class="time text-right" [ngStyle]="{'border': tracks[0].id === item.id ? 'none' : ''}">
        {{item.attributes.durationInMillis | date : 'm:ss'}}
      </td>
      <td class="media-options">
        <div>
          <a class="media-options-dropdown-icon" role='button' id='dropdown{{item.id}}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            <i class="fas fa-ellipsis-h"></i>
          </a>
          <div class="dropdown-menu media-options-dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)='musicPlayerService.playItem(item)'>Play</a>
            <a class="dropdown-item" (click)='musicPlayerService.queueNext(item)'>Play Next</a>
            <a class="dropdown-item" (click)='musicPlayerService.playItem(item)'>Play Later</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Add to Library</a>
            <div class="dropdown-divider"></div>
            <a *ngIf="getRating(item) !== 1" class="dropdown-item" (click)="addRating(item, getRating(item), 1)">Love</a>
            <a *ngIf="getRating(item) !== -1" class="dropdown-item" (click)="addRating(item, getRating(item), -1)">Dislike</a>
            <a *ngIf="getRating(item) !== 0" class="dropdown-item" (click)="addRating(item, getRating(item), 0)">Remove Rating</a>
          </div>
        </div>
        <i *ngIf="getRating(item) === 1" class="fas fa-heart rating"></i>
      </td>
    </tr>
  </tbody>

</table>
