@media (min-width: 1086px) {
  .expanded {
    display: contents;
  }

  .minimised {
    display: none;
  }
}

@media (max-width: 1085px) {
  .expanded {
    display: none;
  }

  .minimised {
    display: contents;
  }

  .header {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header p {
    font-size: 9pt;
  }
  
  .header span {
    font-size: 10pt;
  }

  .header span i {
    padding-right: 5px;
  }

  .header span:hover {
    cursor: pointer;
  }

  .description {
    height: 0;
    padding-bottom: 35%;
    overflow-y: hidden;
  }
}

.mediarow {
  position: relative;
  z-index: 1;
}

.mediarow:hover {
  cursor: pointer;
}

.mediarow .item-number {
  display: block;
}

.mediarow:hover .item-number {
  display: none;
}

.mediarow .item-popularity {
  display: block;
  position: relative;
  top: 5px;
  font-size: 8pt;
}

.mediarow:hover .item-popularity {
  display: none;
}

.mediarow img {
  display: block;
  position: relative;
  margin-left: 1px;
  transform: scale(2.6);
}

.mediarow:hover img {
  display: none;
}

.mediarow .now-playing-icon {
  display: block;
  transform: translate(20%, 20%);
}

.mediarow:hover .now-playing-icon {
  display: none;
}

.mediarow .media-icon {
  display: none;
  position: absolute;
  transform: translate(50%, 20%);
}

.mediarow:hover .media-icon {
  display: block;
}

.mediarow .media-options-dropdown-icon {
  display: none;
  position: absolute;
  transform: translate(20%, 20%);
}

.mediarow:hover .media-options-dropdown-icon {
  display: block;
}

.mediarow:hover .media-options-dropdown {
  display: block;
}

.mediarow .media-options-dropdown-menu {
  position: relative;
  z-index: 1000;
}

.mediarow .rating {
  display: block;
  position: absolute;
  transform: scale(0.8) translate(20%, 70%);
  color: #d06262/* grey */;
}

.mediarow:hover .rating {
  display: none;
}

.collection-options-dropdown {
  position: relative;
  z-index: 100;
  transform: translate(-20%, 10%);
  max-width: 10px;
  max-height: 15px;
  cursor: pointer;
}

.collection-title {
  padding-bottom: 2px;
}

.collection-text {
  font-size: 10pt;
}

.media-status {
  width: 46px;
}

.item-text {
  max-width: 170px;
}

.artist-text {
  max-width: 90px;
}

.artist-text span {
  color: grey;
}

.artist-text a {
  color: black;
}

.album-text {
  max-width: 110px;
}

.album-text span {
  color: grey;
}

.album-text a {
  color: black;
}

.time {
  width: 35px;
}

.media-options {
  position: relative;
  z-index: 10;
  width: 40px;
  transform: translate(-10%, -10%);
}

.explicit-icon {
  transform: scale(0.7);
  vertical-align: middle;
  margin-top: -5px;
  margin-bottom: -5px;
}

.track-list {
  height: calc(100vh - 235px);
  overflow-y: scroll;
}
