<div class="container-fluid simplebar" data-simplebar>

  <div *ngIf="loading">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>

  <div *ngIf="!loading">
    <div *ngIf="playerService.playlist">

      <div class="expanded">
        <div class="row" appLazyLoadImage>
          <div class="col-4">
            <div class="side-sticky">
              <div class="media-artwork">
                <img *ngIf="playerService.playlist.attributes.artwork" class="img-fluid card-img-top rounded" [attr.data-src]="playerService.formatArtwork(playerService.playlist.attributes.artwork, 800)" src="././assets/images/placeholder.jpeg" />
                <img *ngIf="!playerService.playlist.attributes.artwork" class="img-fluid card-img-top rounded" src="././assets/images/placeholder.jpeg" />
                <div class="media-control-button">
                  <i class="fas fa-play-circle fa-3x" aria-hidden="true" (click)="playerService.playItem(playerService.playlist)"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <span>{{playerService.playlist.relationships.tracks.data.length}} Songs, {{formatTime(playlistDuration / 1000 / 60) | hoursMinutes}}</span>
                </div>
                <div class="col-4">
                  <span class="shuffle-label"><a (click)="playerService.playItem(playerService.playlist, 0, true)">Shuffle <i class="fas fa-random fa-xs"></i></a></span>
                </div>
              </div>
              <hr *ngIf="playerService.playlist.attributes.description" />
              <div id="notes" class="editorial-notes scrollbar">
                <div *ngIf="playerService.playlist.attributes.description && playerService.playlist.attributes.description.standard" [innerHTML]="playerService.playlist.attributes.description.standard"></div>
                <div *ngIf="playerService.playlist.attributes.description && !playerService.playlist.attributes.description.standard" [innerHTML]="playerService.playlist.attributes.description.short"></div>
              </div>
            </div>
          </div>

          <div class='col-8'>
            <app-media-item-collection-list [collection]="playerService.playlist" [ratings]="ratings" [showHeader]=true [showArtist]=true [showAlbum]=true></app-media-item-collection-list>
          </div>
        </div>
        <div *ngIf="artists && artists.length">
          <hr />
          <h4>Featured Artists</h4>
          <app-media-item-collection-row [collection]="artists"></app-media-item-collection-row>
        </div>
      </div>

      <div class="minimised">
        <app-media-item-collection-list [collection]="playerService.playlist" [ratings]="ratings"[showHeader]=true ></app-media-item-collection-list>
        <div *ngIf="artists && artists.length">
          <hr />
          <h4>Featured Artists</h4>
          <app-media-item-collection-row [collection]="artists"></app-media-item-collection-row>
        </div>
      </div>

    </div>
  </div>

</div>
