<div class="header"><ng-content></ng-content></div>
<div class="media-item-grid-container">
  <div class="left" id="left-{{collection[0].id}}-{{collection[collection.length-1].id}}" (click)="scroll(false)"><div></div></div>
  <div class="media-item-grid" id="row-{{collection[0].id}}-{{collection[collection.length-1].id}}">
    <div class="container-fluid row" appLazyLoadImage>
      <div *ngFor="let column of columns" class="column">
        <div *ngFor="let row of rows" class="media-item rounded">
          <div *ngIf="collection[(column * numRows) + row]; let item" class="row" (click)="goToAlbum(item)">
            <div class="media-artwork" [attr.data-background-src]="playerService.formatArtwork(item.attributes.artwork, 100)"
            [ngStyle]="{'background-image': 'url(././assets/images/placeholder-transparent.png)', 'background-color': '#' + item.attributes.artwork.bgColor}">
              <div class="hover-gradient"></div>
              <div class="media-control-button">
                <span class="fa-stack" (click)="play(item, $event)">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-play fa-stack-1x"></i>
                </span>
              </div>
            </div>
            <div class="text-truncate media-item-info">
              <span title="{{item.attributes.name}}">{{item.attributes.name}}</span><br />
              <span class="text-muted" *ngIf="showArtist && !item.relationships || !item.relationships.artists" title="{{item.attributes.artistName}} • {{item.attributes.albumName}}">{{item.attributes.artistName}} • {{item.attributes.albumName}}</span>
              <span *ngIf="!showArtist && !item.relationships.albums" title="{{item.attributes.albumName}}">{{item.attributes.albumName}}</span>
              <a *ngIf="!showArtist && item.relationships.albums" [routerLink]="['/albums', item.relationships.albums.data[0].id]" title="{{item.attributes.albumName}}">{{item.attributes.albumName}}</a>
              <div *ngIf="showArtist && item.relationships && item.relationships.artists" class="text-truncate">
                <a [routerLink]="['/artists', item.relationships.artists.data[0].id]" title="{{item.attributes.artistName}}">{{item.attributes.artistName}}</a>
                <span> • </span>
                <a [routerLink]="['/albums', item.relationships.albums.data[0].id]" title="{{item.attributes.albumName}}">{{item.attributes.albumName}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right" id="right-{{collection[0].id}}-{{collection[collection.length-1].id}}" (click)="scroll(true)"><div></div></div>
</div>
