@media (min-width: 1086px) {
  .sidenav {
    position: fixed;
    background-color: #454545;
    width: 250px;
    top: 50px;
    bottom: 100px;
  }

  .expanded {
    display: content;
  }

  .minimised {
    display: none;
  }

  .mobile {
    display: none;
  }
}

@media (min-width: 607px) and (max-width: 1085px) {
  .sidenav {
    position: fixed;
    background-color: #454545;
    width: 70px;
    top: 50px;
    bottom: 100px;
  }

  .expanded {
    display: none;
  }

  .minimised {
    display: content;
  }

  .mobile {
    display: none;
  }
}

@media (max-width: 606px) {
  .sidenav {
    position: fixed;
    background-color: #454545;
    width: 100%;
    height: 56px;
    bottom: 0;
  }

  .expanded {
    display: none;
  }

  .minimised {
    display: none;
  }

  .mobile {
    display: content;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 56px;
  }

  li {
    float: left;
  }

  li a {
    display: block;
  }
}

.mat-sidenav-transition .mat-sidenav-backdrop.mat-sidenav-shown {
  background: #454545;
}

.sidebar-nav {
  padding: 0;
  list-style: none
}

.sidebar-nav li {
  text-indent: 5px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a i {
  padding-right: 10px;
}

.sidebar-nav li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.authentication {
  position: absolute;
  bottom: 0;
  width: 100%;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}
