.loading-spinner {
  top: 32vh;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  height: 60px;
  margin-bottom: -4px;
  z-index: 10;
  opacity: 0.95;
  background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1) 15%)
}

.artist-image {
  max-height: 250px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 767px) {
  .artist-image {
    display: none;
  }
}

.artist-info {
  padding: 5px 5px 15px 5px;
}

.artist-info h2 {
  padding-left: 15px;
}

.artist-info p {
  font-size: 9pt;
}

.artist-bio {
  height: 250px;
  padding-left: 30px;
  white-space: pre-wrap;
  font-size: 9pt;
}

.artist-details {
  padding-left: 50px;
}

.scrollbar {
  --scrollbar-thumb-color: #ff6666;
  --scrollbar-thumb-hover-color: #ff6666;
  --scrollbar-size: 4px;
}

h3 {
  padding-left: 15px;
  padding-right: 15px;
}
