.loading-spinner {
  top: 32vh;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  height: 60px;
  margin-bottom: -4px;
  padding: 0 15px;
  z-index: 10;
  opacity: 0.95;
  color: var(--on-background);
  background: linear-gradient(to top, var(--background-opacity), var(--background) 15%);

  img {
    display: none;
  }
}

.header-expanded {
  height: 95px;

  img {
    display: block;
  }

  h1 {
    position: relative;
    top: 12px;
    left: 15px;
    font-size: 3em;
  }
}

.artist-image {
  max-height: 250px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.artist-image-small {
  position: relative;
  top: 10px;
  height: 65px;
}

@media (max-width: 767px) {
  .artist-image {
    display: none;
  }
}

.artist-info {
  padding: 5px 0 15px 0;
  color: var(--on-background);
  h3 { padding-left: 45px; }
  p { font-size: 9pt; }
}

.artist-bio {
  max-height: 250px;
  max-width: 100%;
  padding-left: 56px;
  white-space: pre-wrap;
  font-size: 9pt;
}

.artist-details {
  padding-left: 50px;
}

.dropdown {
  background: var(--background);
  color: var(--on-background);
  border: none;
  outline: none;
}

h5 {
  color: var(--on-background);
}

::ng-deep {
  .ps__thumb-y { background-color: var(--on-background)!important; }
  .ps__rail-y { opacity: 1!important; background-color: rgba(0,0,0,0)!important; z-index: 100; }
}
