@media (min-width: 1086px) {
  .expanded {
    display: block;
  }

  .minimised {
    display: none;
  }
}

@media (max-width: 1085px) {
  .expanded {
    display: none;
  }

  .minimised {
    display: block;
  }
}

.loading-spinner {
  top: 32vh;
  margin: 0 auto;
}

.simplebar {
  height: 100%;
}

.media-artwork {
  position: relative;
}

.media-control-button {
  display: none;
  position: absolute;
	color: lightgray;
  bottom: 5%;
  left: 5%;
}

.media-artwork:hover .media-control-button {
	display: block;
}

.editorial-notes {
  overflow-y: auto;
  white-space: pre-wrap;
  font-size: 9pt;
}

.side-sticky {
  position: sticky;
  top: 0;
  padding-top: 1rem;
}

p {
  font-size: 9pt;
}

span {
  font-size: 10pt;
}

a {
  color: black!important;
  text-decoration: none;
}

a:hover {
  color: #f40000!important;
}

.track-list {
  height: calc(100vh - 235px);
  overflow-y: auto;
}

.shuffle-label {
  padding-top: 3px;
  float: right!important
}

.shuffle-label :hover {
  cursor: pointer;
}

.release-date {
  font-size: 9pt;
}

.scrollbar::-webkit-scrollbar
{
  height: 5px;
	width: 5px;
	border-radius: 5px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #ff6666;
}
