@media (min-width: 1086px) {
  .expanded { display: contents; }
  .minimised { display: none; }
}

@media (max-width: 1085px) {
  .expanded { display: none; }
  .minimised { display: contents; }

  .header {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;

    p {font-size: 9pt; }
    span {
      font-size: 10pt;
      i { padding-right: 5px; }
      &:hover { cursor: pointer; }
    }
  }

  .description {
    height: 0;
    padding-bottom: 35%;
    overflow-y: hidden;
  }
}

.header-sticky {
  @media (min-width: 1086px) { position: sticky; padding: 1em 0 0 2em; }
  @media (max-width: 1085px) { position: relative; padding: 10px; }
  display: block;
  top: 0;
  width: 100%;
  overflow: hidden;
  padding: 1em 0 0 2em;
  background: var(--background);
  color: var(--on-background);
  z-index: 20;
}

.mediarow {
  position: relative;
  z-index: 1;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  color: var(--on-background)!important;
  
  .item-number { display: block; }

  .item-popularity {
    display: block;
    position: relative;
    top: 3px;
    font-size: 12pt;
  }

  .now-playing-icon {
    display: block;
    font-size: 14pt;

    &.material-icons {
      position: relative;
      top: 2px;
    }
  }

  .media-icon {
    display: none;
    position: absolute;
  }

  .media-options-dropdown-icon {
    display: none;
    position: absolute;
    top: 10px;
    left: 4px;
  }

  .rating {
    display: block;
    position: absolute;
    top: 13px;
    left: 8px;
    font-size: 12pt;
    color: var(--primary);
  }

  img {
    display: block;
    position: relative;
    margin-left: 1px;
    transform: scale(2.6);
  }

  i:hover:not(.explicit-icon) { color: var(--primary); }

  &:hover {
    cursor: pointer;
    z-index: 10;
  
    .item-number,
    .item-popularity,
    .now-playing-icon,
    .rating,
    img {
      display: none;
    }
  
    .media-icon,
    .media-options-dropdown-icon {
      display: block;
    }
  }
}

.collection-options-dropdown {
  position: relative;
  cursor: pointer;
  top: 5px;
  max-width: 10px;
  max-height: 15px;
  transform: translate(-20%, 10%);
  z-index: 100;

  i:hover { color: var(--primary); }
}

.collection-title {
  margin-right: 30px;
  padding-bottom: 2px;
}

.collection-text { font-size: 10pt; }

.media-status {
  width: 46px;
  border: none;
  text-align: center!important;
}

.song-name {
  max-width: 170px;
  border-color: var(--accent);
}

.song-text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist-name {
  max-width: 90px;
  border-color: var(--accent);
  span { color: var(--on-background); }
}

.album-name {
  max-width: 110px;
  border-color: var(--accent);
  span { color: var(--on-background); }
}

.time {
  width: 35px;
  border-color: var(--accent);
}

.media-options {
  position: relative;
  width: 40px;
  border: none;
}

.explicit-icon {
  position: relative;
  top: 2px;
  font-size: 14pt;
  float: right!important;
}

.track-list {
  height: calc(100vh - 235px);
  overflow-y: scroll;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

a {
  color: var(--on-background);
  text-decoration: none;
  &:hover { color: var(--primary); }
}
