.header {
  position: sticky;
  top: 0;
  height: 60px;
  margin-bottom: -4px;
  z-index: 10;
  opacity: 0.95;
  background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1) 15%)
}

.bitrate {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.media-devices {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 35px;
}

.media-devices p {
  font-size: 10pt;
}

.device-name {
  width: 400px;
}

.device-id {
  width: 590px;
}

.save-button {
  margin-right: 15px;
}

.playback-recovery {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.playback-recovery p {
  font-size: 10pt;
}

.playback-recovery mat-checkbox {
  padding-right: 30px;
}

.playback-recovery mat-form-field {
  width: 100px;
}
