.header {
  position: sticky;
  top: 0;
  height: 60px;
  margin-bottom: -4px;
  z-index: 10;
  opacity: 0.95;
  color: var(--on-background);
  background: linear-gradient(to top, var(--background-opacity), var(--background) 15%);
}

.theme {
  padding: 0 15px 15px;
  color: var(--on-background);
}

.bitrate {
  padding: 0 15px 15px;
  color: var(--on-background);
}

.media-devices {
  padding: 0 15px 30px;
  color: var(--on-background);
  
  p {
  font-size: 10pt;
  }

  .device-name {
    width: 400px;
  }

  .device-id {
    width: 590px;
  }

  .save-button {
    margin-right: 15px;
  }
}

.playback-recovery {
  padding: 0 15px 15px;
  color: var(--on-background);
  
  p {
  font-size: 10pt;
  }

  mat-checkbox {
    padding-right: 30px;
  }

  mat-form-field {
    width: 100px;
  }
}

::ng-deep {
  .ps__thumb-y { background-color: var(--on-background)!important; }
  .ps__rail-y { opacity: 1!important; background-color: rgba(0,0,0,0)!important; z-index: 100; }

  .mat-select-value { color: var(--on-background); }
  .mat-select-arrow { color: var(--on-background); }
  .mat-form-field-label { color: var(--on-background)!important; }
  .mat-form-field-underline { background-color: var(--on-background)!important; }
  .mat-checkbox-frame { border-color: var(--on-background); }
  .mat-stroked-button { border-color: var(--on-background)!important; }
}
