@import '../../../../theme.scss';

/deep/ .mat-dialog-container {
  overflow: hidden!important;
  background: var(--background);
}

/deep/ .mat-tab-label {
  min-width: 150px!important;
  color: var(--on-background)!important;
}

.queue {
  overflow: auto;
  height: 0;
  padding-top: 5px;
}

.history {
  overflow: auto;
  height: 0;
  padding-top: 5px;
}

table {
  margin: 0 0;
  color: var(--on-background)!important;

  .queue-artwork {
    img {
      position: relative;
      top: -1px;
      height: 51px;
      width: 51px;
    }
  }

  .queue-text {
    width: 315px;
    max-width: 315px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 9pt;

    span {
      position: relative;
      top: -2px;
    }
  }

  th.queue-text {
    span {
      font-weight: 500;
    }
  }

  .queue-options {
    i {
      padding: 15px 15px 15px 0;
    }
  }

  th.queue-options {
    a {
      position: relative;
      top: -4px;
    }
  }

  th {
    border-top: none;
    border-bottom: 1px solid var(--accent); // #dee2e6;
  }
  tr {
    max-height: 60px;
  }
  tr:hover {
    cursor: pointer;
    color: var(--on-background)!important;
  }
  td {
    padding-top: 5px;
    padding-bottom: 0;
    border-top: 0;
  }
}

.lyrics {
  overflow-x: hidden;
  overflow-y: auto;
  height: 0;
  padding-top: 5px;
  white-space: pre-wrap;
  color: var(--on-background)!important;

  h6 {
    font-size: 11pt;
    text-align: center;
    font-weight: bold;
  }
  p {
    font-size: 10pt;
  }

  .refresh-lyrics {
    float: right!important;
    cursor: pointer;
  }

  .refresh-lyrics:hover {
    color: var(--primary);
  }

  .loading-spinner {
    top: 20vh;
    margin: 0 auto;
  }

  .row {
    margin: 0;
  }
}

::ng-deep {
  .ps__thumb-y { background-color: var(--on-background)!important; }
  .ps__rail-y { opacity: 1!important; background-color: rgba(0,0,0,0)!important; z-index: 100; }
}
