.loading-spinner {
  top: 32vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.media-artwork {
  position: relative;
}

.media-control-button {
  display: none;
  position: absolute;
	color: lightgray;
  bottom: 5%;
  left: 5%;
}

.media-artwork:hover .media-control-button {
	display: block;
}

p {
  font-size: 9pt;
}

span {
  font-size: 10pt;
}

.shuffle-label {
  padding-top: 3px;
}

.shuffle-label :hover {
  cursor: pointer;
}
