p {
  font-size: 9pt;
}

.mediarow {
  cursor: pointer;
}

.mediarow i {
  color: #ffffff;
}

.mediarow:hover i {
  color: #000000;
}

.dropdown {
  position: relative;
}

.album-options-dropdown {
  position: relative;
  top: 37px;
  left: 12px;
  max-width: 10px;
  max-height: 15px;
  cursor: pointer;
}

.playlist-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.playlist-text {
  font-size: 10pt;
}

.media-status {
  max-width: 30px;
}

.song-text {
  max-width: 200px;
}

.artist-text {
  max-width: 100px;
}

.album-text {
  max-width: 130px;
}

.time {
  max-width: 30px;
}

.media-options {
  min-width: 20px;
  max-width: 20px;
}