<div class="container-fluid">
  <div *ngIf='musicService.playlist'>
    <div class='row pt-3'>
      <div class='col-4'>
        <img class="img-fluid card-img-top" [src]='musicService.formatArtworkURL(musicService.playlist.attributes.artwork, 800)' />
        <br />
        <h6>{{musicService.playlist.relationships.tracks.data.length}} Songs, {{(musicService.playlistDuration / 1000 / 60) | hoursMinutes}}</h6>
        <p *ngIf='musicService.playlist.attributes.description'>{{musicService.playlist.attributes.description.standard}}</p>
      </div>
      <div class='col-8'>
        <div class='row'>
          <div class='col-11'>
            <h4>{{musicService.playlist.attributes.name}}</h4>
            <h5>Updated {{musicService.playlist.attributes.lastModifiedDate | date : 'dd/MM' }}</h5>
          </div>
          <div class='col-1 album-options-dropdown'>
            <a role='button' id='dropdown{{musicService.playlist.id}}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              <i class="fas fa-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item">Play</a>
              <a class="dropdown-item">Play Next</a>
              <a class="dropdown-item">Play Later</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Add to Library</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Like</a>
              <a class="dropdown-item">Dislike</a>
            </div>
          </div>
        </div>
        <table class='table table-hover playlist-text'>
          <thead>
            <tr>
              <th class='media-status'></th>
              <th class='song-text'>Song</th>
              <th class='artist-text'>Artist</th>
              <th class='album-text'>Album</th>
              <th class='time text-right'>Time</th>
              <th class='media-options'></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let track of musicService.playlist.relationships.tracks.data' class='mediarow'>
              <td class='media-status' (click)='!musicService.isItemCurrentlyPlaying(track.id) ? musicService.playItem(musicService.playlist, musicService.playlist.relationships.tracks.data.indexOf(track)) : musicService.pause()'>
                <i *ngIf='!musicService.isItemCurrentlyPlaying(track.id)' class="fas fa-play"></i>
                <i *ngIf='musicService.isItemCurrentlyPlaying(track.id)' class="fas fa-pause"></i>
              </td>
              <td class='song-text text-truncate' (click)='!musicService.isItemCurrentlyPlaying(track.id) ? musicService.playItem(musicService.playlist, musicService.playlist.relationships.tracks.data.indexOf(track)) : musicService.pause()'>{{track.attributes.name}}</td>
              <td class='artist-text text-truncate'>{{track.attributes.artistName}}</td>
              <td class='album-text text-truncate'>{{track.attributes.albumName}}</td>
              <td class='time text-right'>{{track.attributes.durationInMillis | date : 'm:ss'}}</td>
              <td class='media-options'>
                <div>
                  <a role='button' id='dropdown{{track.id}}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                    <i class="fas fa-ellipsis-h"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Play</a>
                    <a class="dropdown-item">Play Next</a>
                    <a class="dropdown-item">Play Later</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Add to Library</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Like</a>
                    <a class="dropdown-item">Dislike</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>