.spinner {
  transform: translate(15%);
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover,.nav-pills .nav-link.active:focus {
  background-color: #454545;
  color:white; 
}

.nav-pills .nav-link, .nav-pills {
  color:#454545; 
}
