<div class="header"><ng-content></ng-content></div>
<div class="media-item-group-container" id="container-{{collection[0].id}}-{{collection[collection.length-1].id}}">
  <div #leftIcon class="left" (click)="scroll(false)"><div></div></div>
  <div #row class="media-item-group">
    <app-media-item-view *ngFor="let item of collection" class="media-item" [item]="item" [ngClass]="{'large': size === 2}" [showOptions]="false"></app-media-item-view>
  </div>
  <div #rightIcon class="right" (click)="scroll(true)"><div></div></div>
</div>
