<div>
  <mat-sidenav mode="side" class="sidenav" opened>

    <ul class="sidebar-nav expanded">
      <li class="mt-3 mr-3 ml-3 mb-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" #searchbar (keyup.enter)="search(searchbar.value)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" #searchbutton (click)="search(searchbar.value)">
              <span class="fas fa-search"></span>
            </button>
          </div>
        </div>
      </li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/home']"><i class="fas fa-home"></i>Home</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/foryou']"><i class="fas fa-user"></i>For You</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/library']"><i class="fas fa-align-left"></i>Library</a></li>
      <li *ngIf="!musicService.authorized" class="authentication"><a class='nav-link' (click)="musicService.signin()"><i class="fas fa-sign-in-alt"></i>Sign In</a></li>
      <li *ngIf="musicService.authorized" class="authentication"><a class='nav-link' (click)="musicService.signout()"><i class="fas fa-sign-out-alt"></i>Sign Out</a></li>
    </ul>

    <ul class="sidebar-nav minimised">
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/home']"><i class="fas fa-search"></i></a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/home']"><i class="fas fa-home"></i></a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/foryou']"><i class="fas fa-user"></i></a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/library']"><i class="fas fa-align-left"></i></a></li>
      <li *ngIf="!musicService.authorized" class="authentication"><a class='nav-link' (click)="musicService.signin()"><i class="fas fa-sign-in-alt"></i></a></li>
      <li *ngIf="musicService.authorized" class="authentication"><a class='nav-link' (click)="musicService.signout()"><i class="fas fa-sign-out-alt"></i></a></li>
    </ul>

    <ul class="sidebar-nav mobile">
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/home']"><i class="fas fa-search"></i></a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/home']"><i class="fas fa-home"></i></a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/foryou']"><i class="fas fa-user"></i></a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/library']"><i class="fas fa-align-left"></i></a></li>
      <li *ngIf="!musicService.authorized"><a class='nav-link' (click)="musicService.signin()"><i class="fas fa-sign-in-alt"></i></a></li>
      <li *ngIf="musicService.authorized"><a class='nav-link' (click)="musicService.signout()"><i class="fas fa-sign-out-alt"></i></a></li>
    </ul>

  </mat-sidenav>
</div>