@media (min-width: 1086px) {
  .sidenav {
    position: absolute;
    width: 250px;
    background-color: #454545;
  }

  .expanded {
    display: block;
  }

  .minimised {
    display: none;
  }
}

@media (max-width: 1085px) {
  .sidenav {
    position: absolute;
    width: 70px;
    background-color: #454545;
  }

  .expanded {
    display: none;
  }

  .minimised {
    display: block;
  }
}

.mat-sidenav-transition .mat-sidenav-backdrop.mat-sidenav-shown {
  background: #454545;
}

.sidebar-nav {
  padding: 0;
  list-style: none
}

.sidebar-nav li {
  text-indent: 5px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a i {
  padding-right: 10px;
}

.sidebar-nav li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
