<div class="container-fluid">

  <div *ngIf="this.loading">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>

  <div *ngIf="!this.loading">
    <div *ngIf="musicPlayerService.artist">
      <div class="artist-background container-fluid" [ngStyle]="{'background-image': 'url(' + artistImage + ')'}">
        <h1 class="text-truncate text-light">{{musicPlayerService.artist.attributes.name}}</h1>

        <div class="row container-fluid">
          <div class="artist-image col-6 col-sm-3 col-md-4">
            <img class="artist-image img-fluid rounded-circle" src="{{artistImage}}" />
          </div>
          <div *ngIf="musicPlayerService.artist && musicPlayerService.artist.relationships.albums.data && musicPlayerService.artist.relationships.albums.data | albumFilter : 'latestRelease'" class="col-6 col-sm-4 col-md-3" [ngClass]="(musicPlayerService.artist.relationships.albums.data | albumFilter : 'upcomingRelease') ? 'offset-md-2' : 'offset-md-5'">
            <h5 class="text-truncate text-light" title="Latest Release">Latest Release</h5>
            <app-media-item-view [item]="musicPlayerService.artist.relationships.albums.data | albumFilter : 'latestRelease'" [light]=true></app-media-item-view>
          </div>
          <div *ngIf="musicPlayerService.artist && musicPlayerService.artist.relationships.albums.data && musicPlayerService.artist.relationships.albums.data | albumFilter : 'upcomingRelease'" class="col-6 col-sm-4 col-md-3">
            <h5 class="text-truncate text-light" title="Upcoming Release">Upcoming Release</h5>
            <app-media-item-view [item]="musicPlayerService.artist.relationships.albums.data | albumFilter : 'upcomingRelease'" [light]=true></app-media-item-view>
          </div>
        </div>
      </div>

      <hr />

      <div *ngIf="topSongs">
        <h3>Top Songs</h3>
        <app-media-item-collection-grid [collection]="topSongs" [numRows]=3></app-media-item-collection-grid>
      </div>

      <div *ngIf="albums && albums.length">
        <div class="row">
          <div class="col-6"><h3>Albums</h3></div>
          <div *ngIf="albums.length > 1" class="col-6">
            <select class="float-right" [(ngModel)]="sortAlbums">
              <option *ngFor="let option of sortOptions" [ngValue]="option[0]" selected>{{option[1]}}</option>
            </select>
          </div>
        </div>
        <app-media-item-collection-row [collection]="sortItems(albums, sortAlbums)"></app-media-item-collection-row>
      </div>

      <div *ngIf="singles && singles.length">
        <div class="row">
          <div class="col-6"><h3>EPs & Singles</h3></div>
          <div *ngIf="singles.length > 1" class="col-6">
            <select class="float-right" [(ngModel)]="sortSingles">
              <option *ngFor="let option of sortOptions" [ngValue]="option[0]" selected>{{option[1]}}</option>
            </select>
          </div>
        </div>
        <app-media-item-collection-row [collection]="sortItems(singles, sortSingles)"></app-media-item-collection-row>
      </div>

      <div *ngIf="liveAlbums && liveAlbums.length">
        <div class="row">
          <div class="col-6"><h3>Live Albums</h3></div>
          <div *ngIf="liveAlbums.length > 1" class="col-6">
            <select class="float-right" [(ngModel)]="sortLiveAlbums">
              <option *ngFor="let option of sortOptions" [ngValue]="option[0]" selected>{{option[1]}}</option>
            </select>
          </div>
        </div>
        <app-media-item-collection-row [collection]="sortItems(liveAlbums, sortLiveAlbums)"></app-media-item-collection-row>
      </div>

      <div *ngIf="compilations && compilations.length">
        <div class="row">
          <div class="col-6"><h3>Compilation Albums</h3></div>
          <div *ngIf="compilations.length > 1" class="col-6">
            <select class="float-right" [(ngModel)]="sortCompilations">
              <option *ngFor="let option of sortOptions" [ngValue]="option[0]" selected>{{option[1]}}</option>
            </select>
          </div>
        </div>
        <app-media-item-collection-row [collection]="sortItems(compilations, sortCompilations)"></app-media-item-collection-row>
      </div>

      <div *ngIf="musicPlayerService.playlists && musicPlayerService.playlists.length">
        <h3>Artist Playlists</h3>
        <app-media-item-collection-row [collection]="musicPlayerService.playlists"></app-media-item-collection-row>
      </div>

      <div *ngIf="artistInfo && artistInfo.attributes.artistBio" class="artist-info">
        <h3>About {{artistInfo.attributes.name}}</h3>
        <div class="row">
          <div class="col-9 artist-bio scrollbar">
            <p>{{artistInfo.attributes.artistBio}}</p>
          </div>
          <div class="col-3 artist-details">
            <div class="row">
              <span *ngIf="artistInfo.attributes.isGroup"><b>ORIGIN</b><br />{{artistInfo.attributes.origin}}</span>
              <span *ngIf="!artistInfo.attributes.isGroup"><b>HOMETOWN</b><br />{{artistInfo.attributes.origin}}</span>
            </div>
            <br />
            <div class="row">
              <span *ngIf="artistInfo.attributes.isGroup"><b>FORMED</b><br />{{artistInfo.attributes.bornOrFormedDate}}</span>
              <span *ngIf="!artistInfo.attributes.isGroup"><b>BORN</b><br />{{artistInfo.attributes.bornOrFormedDate | date : longDate}}</span>
            </div>
            <br />
            <div class="row">
              <span><b>GENRE</b><br />{{musicPlayerService.artist.attributes.genreNames[0]}}</span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="relatedArtists">
        <br *ngIf="artistInfo && artistInfo.attributes.artistBio" />
        <h3>Related Artists</h3>
        <app-media-item-collection-row [collection]="relatedArtists"></app-media-item-collection-row>
      </div>

    </div>
  </div>

</div>
