.media-album {
  font-size: 11pt;
  margin: 0 -3px;
}

.media-artist {
  padding: 0px 12px;
  font-size: 11pt;
}

.media-artwork {
  position: relative;
  display: inline-block;
  padding: 0px 10px;
}

.media-control-button {
  display: none;
  position: absolute;
	color: lightgray;
  bottom: 5%;
  left: 10%;
}

.media-artwork:hover .media-control-button {
	display: block;
}

.link-text-light {
  color: skyblue;
}

.explicit {
  padding-right: 8px;
}

.explicit-icon {
  transform: scale(0.7);
  margin-bottom: -5px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #f40000;
}

.material-icons {
  cursor: default;
}
