.media-album {
  font-size: 11pt;
  margin: 0 -3px;
}

.media-artist {
  padding: 0px 12px;
  font-size: 11pt;
}

.media-artwork {
  position: relative;
  display: inline-block;
  left: 10px;
  margin-right: 0px;

  &:hover {
    cursor: pointer;
    
    .media-control-button { display: block; }

    .hover-gradient {
      background: linear-gradient(to bottom,
        rgba(51,51,51,0) 0,
        rgba(51,51,51,.06) 33%,
        rgba(51,51,51,.26) 56%,
        rgba(51,51,51,.55) 78%,
        rgba(51,51,51,.7) 100%);
    }
  }
}

.media-control-button {
  display: none;
  position: absolute;
	color: var(--light);
  bottom: 5%;
  left: 5%;

  .fa-play {
    color: var(--dark);
    position: relative;
    left: 1px;
    &:hover { color: var(--primary); }
  }

  span { width: 2em; }
  &:hover { cursor: pointer; }
}

.hover-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: .25rem;
}

.link-text-light {
  color: skyblue;
}

.explicit {
  padding-right: 8px;

  i {
    color: var(--on-background);
    transform: scale(0.7);
    margin-bottom: -5px;
  }
}

a {
  color: var(--on-background);
  text-decoration: none;
  &:hover { color: var(--primary); }
}

span {
  color: var(--on-background);
}

.material-icons {
  cursor: default;
}
