<div *ngIf="item.type !== 'artists' && item.type !== 'songs'">
  <div *ngIf="item.attributes.artwork" class='row media-artwork'>
    <a *ngIf="item.type === 'albums'" [routerLink]="['/albums', item.id]"><img class="img-fluid rounded" [src]='musicService.formatArtworkURL(item.attributes.artwork, 800)' /></a>
    <a *ngIf="item.type === 'playlists'" [routerLink]="['/playlists', item.id]"><img class="img-fluid rounded" [src]='musicService.formatArtworkURL(item.attributes.artwork, 800)' /></a>
    <div class='media-control-button'>
      <i class="fas fa-play-circle fa-2x" aria-hidden="true" (click)="musicService.playItem(item)"></i>
    </div>
  </div>
  <div *ngIf="item.type === 'albums' || item.type === 'songs'" class='row media-album'><a [routerLink]="['/albums', item.id]" title='{{item.attributes.name}}'>{{item.attributes.name}}</a></div>
  <div *ngIf="item.type === 'playlists'" class='row media-album'><a [routerLink]="['/playlists', item.id]" title='{{item.attributes.name}}'>{{item.attributes.name}}</a></div>
  <div *ngIf="item.type === 'albums' || item.type === 'songs'" class='row media-artist'>{{item.attributes.artistName}}</div>
</div>

<div *ngIf="item.type === 'artists'">
  <div class='row media-artwork'>
    <a [routerLink]="['/artists', item.id]"><img class="img-fluid rounded" src="././assets/images/artist-default.png" /></a>
    <div class='media-control-button'>
      <i class="fas fa-play-circle fa-2x" aria-hidden="true" (click)="musicService.playItem(item)"></i>
    </div>
  </div>
  <div class='row media-artist'><a [routerLink]="['/artists', item.id]" title='{{item.attributes.name}}'>{{item.attributes.name}}</a></div>
</div>

<div *ngIf="item.type === 'songs'">
  <div *ngIf="item.attributes.artwork" class='row media-artwork'>
    <img class="img-fluid rounded" [src]='musicService.formatArtworkURL(item.attributes.artwork, 300)' />
    <!-- <a [routerLink]="['/albums', album.id]"><img class="img-fluid" [src]='musicService.formatArtworkURL(item.attributes.artwork, 300)' /></a> -->
    <div class='media-control-button'>
      <i class="fas fa-play-circle fa-2x" aria-hidden="true" (click)="musicService.playItem(item)"></i>
    </div>
  </div>
  <div class='row media-album'>{{item.attributes.name}}</div>
  <div class='row media-album'>{{item.attributes.albumName}}</div>
  <div class='row media-artist'>{{item.attributes.artistName}}</div>
</div>