<div *ngIf="item.type.includes('albums')" appLazyLoadImage>
  <div *ngIf="item.attributes.artwork" class="row media-artwork">
    <a *ngIf="!item.type.includes('library')" [routerLink]="['/albums', item.id]"><img class="img-fluid rounded" [attr.data-src]="musicService.formatArtworkURL(item.attributes.artwork, 800)" src="././assets/images/placeholder.png" /></a>
    <a *ngIf="item.type.includes('library')" [routerLink]="['/library/albums', item.id]"><img class="img-fluid rounded" [attr.data-src]="musicService.formatArtworkURL(item.attributes.artwork, 800)" src="././assets/images/placeholder.png" /></a>
    <div class="media-control-button">
      <i class="fas fa-play-circle fa-2x" aria-hidden="true" (click)="musicService.playItem(item)"></i>
    </div>
  </div>
  <div class="row">
    <div class="media-album text-truncate" [ngClass]="!item.attributes.contentRating && item.attributes.contentRating !== 'explicit' ? 'col-12' : 'col-10'">
      <a [routerLink]="['/albums', item.id]" title="{{item.attributes.name}}">{{item.attributes.name}}</a>
    </div>
    <div *ngIf="item.attributes.contentRating && item.attributes.contentRating === 'explicit'" class="col-2 explicit text-muted">
      <i class="material-icons explicit-icon float-right">explicit</i>
    </div>
  </div>
  <div class="row media-artist"><span class="text-truncate">{{item.attributes.artistName}}</span></div>
</div>

<div *ngIf="item.type.includes('playlists')" appLazyLoadImage>
  <div *ngIf="item.attributes.artwork" class="row media-artwork">
    <a *ngIf="!item.type.includes('library')" [routerLink]="['/playlists', item.id]"><img class="img-fluid rounded" [attr.data-src]="musicService.formatArtworkURL(item.attributes.artwork, 800)" src="././assets/images/placeholder.png" /></a>
    <a *ngIf="item.type.includes('library')" [routerLink]="['/library/playlists', item.id]"><img class="img-fluid rounded" [attr.data-src]="musicService.formatArtworkURL(item.attributes.artwork, 800)" src="././assets/images/placeholder.png" /></a>
    <div class="media-control-button">
      <i class="fas fa-play-circle fa-2x" aria-hidden="true" (click)="musicService.playItem(item)"></i>
    </div>
  </div>
  <div class='row media-album'><a [routerLink]="['/playlists', item.id]" class="text-truncate" title="{{item.attributes.name}}">{{item.attributes.name}}</a></div>
</div>

<div *ngIf="item.type.includes('artists')" appLazyLoadImage>
  <div class="row media-artwork">
    <a *ngIf="!item.type.includes('library')" [routerLink]="['/artists', item.id]"><img class="img-fluid rounded" src="././assets/images/placeholder.png" /></a>
    <a *ngIf="item.type.includes('library')" [routerLink]="['/artists', item.id]"><img class="img-fluid rounded" src="././assets/images/placeholder.png" /></a>
    <div class="media-control-button">
      <i class="fas fa-play-circle fa-2x" aria-hidden="true" (click)="musicService.playItem(item)"></i>
    </div>
  </div>
  <div class="row media-artist text-truncate"><a [routerLink]="['/artists', item.id]" title="{{item.attributes.name}}">{{item.attributes.name}}</a></div>
</div>

<div *ngIf="item.type.includes('songs')" appLazyLoadImage>
  <div *ngIf="item.attributes.artwork" class="row media-artwork">
    <img class="img-fluid rounded" [attr.data-src]="musicService.formatArtworkURL(item.attributes.artwork, 300)" src="././assets/images/placeholder.png" />
    <!-- <a [routerLink]="['/albums', album.id]"><img class="img-fluid" [src]="musicService.formatArtworkURL(item.attributes.artwork, 300)" src="././assets/images/placeholder.png" /></a> -->
    <div class="media-control-button">
      <i class="fas fa-play-circle fa-2x" aria-hidden="true" (click)="musicService.playItem(item)"></i>
    </div>
  </div>
  <div class="row media-album"><span class="text-truncate">{{item.attributes.name}}</span></div>
  <div class="row media-album"><span class="text-truncate">{{item.attributes.albumName}}</span></div>
  <div class="row media-artist"><span class="text-truncate">{{item.attributes.artistName}}</span></div>
</div>
