.row {
  position: relative;
  left: 15px;
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding: 0;
}

.column {
  padding: 0;
}

.media-item-grid {
  padding-bottom: 8px;
}

.media-item {
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.media-item:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.media-item > hr {
  margin: 3px 15px 0 15px;
}

.media-item .row {
  overflow-y: hidden;
  width: 100%;
}

.media-artwork {
  position: relative;
  display: inline-block;
  height: 53px;
  width: 50px;
  top: 3px;
}

.media-control-button {
  display: none;
  position: absolute;
	color: lightgray;
  bottom: 10px;
  left: 24px;
}

.media-artwork:hover .media-control-button {
	display: block;
}

.media-item-info {
  padding: 5px 25px 0 0;
  margin-left: -15px;
  font-size: 10pt;
}

.scrollbar::-webkit-scrollbar
{
  height: 8px;
	width: 8px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-track
{
  box-shadow: #F5F5F5;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
  box-shadow: #919191;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 8px;
	background-color: #919191;
}
