.row {
  position: relative;
  left: 15px;
  overflow-x: visible;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding: 0;
}

.column {
  padding: 0;
}

.media-item-grid {
  margin-bottom: -12px;
}

.media-item {
  padding: 3px 10px;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.media-item:hover {
  cursor: pointer;
  background-color: var(--accent);
}

.media-item > hr {
  margin: 3px 15px 0 15px;
}

.media-item .row {
  overflow-y: hidden;
  width: 100%;
}

.media-artwork {
  position: relative;
  display: inline-block;
  height: 51px;
  width: 50px;

  img {
    height: 50px;
    width: 50px;
  }
}

.media-control-button {
  display: none;
  position: absolute;
	color: var(--on-background);
  bottom: 10px;
  left: 9px;
}

.media-artwork:hover .media-control-button {
	display: block;
}

.media-item-info {
  width: calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: -webkit-calc(100% - 50px);
  padding: 5px 25px 0 10px;
  font-size: 10pt;
  color: var(--on-background);
}

a {
  color: var(--on-background);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

.scrollbar {
  --scrollbar-thumb-color: var(--scrollbar);
  --scrollbar-thumb-hover-color: var(--scrollbar);
}
