<perfect-scrollbar>
  <div class="media-item-grid">
    <div class="container-fluid row" appLazyLoadImage>
      <div *ngFor="let column of columns" class="col-12 col-sm-6 col-md-4 column">
        <div *ngFor="let row of rows" class="media-item rounded">
          <div *ngIf="collection[(column * numRows) + row]; let item" class="row">
            <div class="media-artwork" (click)="playerService.playItem(item)">
              <img class="img-fluid rounded" [attr.data-src]="playerService.formatArtwork(item.attributes.artwork, 100)" src="././assets/images/placeholder-transparent.png" [ngStyle]="{'background-color': '#' + item.attributes.artwork.bgColor}" />
              <div class="media-control-button">
                <i class="fas fa-play-circle fa-2x" aria-hidden="true"></i>
              </div>
            </div>
            <div class="text-truncate media-item-info" (click)="goToAlbum(item)">
              <span title="{{item.attributes.name}}">{{item.attributes.name}}</span><br />
              <span class="text-muted" *ngIf="showArtist && !item.relationships || !item.relationships.artists" title="{{item.attributes.artistName}} • {{item.attributes.albumName}}">{{item.attributes.artistName}} • {{item.attributes.albumName}}</span>
              <span *ngIf="!showArtist && !item.relationships.albums" title="{{item.attributes.albumName}}">{{item.attributes.albumName}}</span>
              <a *ngIf="!showArtist && item.relationships.albums" [routerLink]="['/albums', item.relationships.albums.data[0].id]" title="{{item.attributes.albumName}}">{{item.attributes.albumName}}</a>
              <div *ngIf="showArtist && item.relationships && item.relationships.artists" class="text-truncate">
                <a [routerLink]="['/artists', item.relationships.artists.data[0].id]" title="{{item.attributes.artistName}}">{{item.attributes.artistName}}</a>
                <span> • </span>
                <a [routerLink]="['/albums', item.relationships.albums.data[0].id]" title="{{item.attributes.albumName}}">{{item.attributes.albumName}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</perfect-scrollbar>
