.media-item-group {
  margin-bottom: -10px;
}

.media-item-group > .row {
  position: relative;
  left: 15px;
  overflow-x: visible;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding: 0;
}

.scrollbar {
  --scrollbar-thumb-color:  var(--scrollbar); // #ff6666;
  --scrollbar-thumb-hover-color:  var(--scrollbar); // #ff6666;
}

::ng-deep {
  ng-scrollbar-x {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
  }
}