<perfect-scrollbar #ps class="scrollbar">
  <div class="media-item-group">
    <div class="container-fluid row">
      <app-media-item-view *ngFor="let item of collection" [item]="item" 
        [ngClass]="size === 2 ? 'col-6 col-md-4 col-lg-3' : 'col-6 col-md-4 col-lg-3 col-xl-2'">
      </app-media-item-view>
    </div>
  </div>
</perfect-scrollbar>

<!-- <div *ngIf="todaysAlbums" class="media-item-group">
  <div class="container-fluid row scrollbar">
    <div *ngFor="let item of collection" class="col-12 col-md-6 col-lg-4">
      <h5 class="text-truncate" title="{{item.attributes.reason.stringForDisplay}}">{{item.attributes.reason.stringForDisplay}}</h5>
      <div class="row">
        <div *ngIf="item.relationships.contents.data[0]" class="col-6">
          <app-media-item-view [item]="item.relationships.contents.data[0]"></app-media-item-view>
        </div>
        <div *ngIf="item.relationships.contents.data[1]" class="col-6">
          <app-media-item-view [item]="item.relationships.contents.data[1]"></app-media-item-view>
        </div>
      </div>
      <div class="row">
        <div *ngIf="item.relationships.contents.data[2]" class="col-6">
          <app-media-item-view [item]="item.relationships.contents.data[2]"></app-media-item-view>
        </div>
        <div *ngIf="item.relationships.contents.data[3]" class="col-6">
          <app-media-item-view [item]="item.relationships.contents.data[3]"></app-media-item-view>
        </div>
      </div>
    </div>
  </div>
</div> -->
