<div class="container-fluid">
  <h1>Browse</h1>

  <div *ngIf="this.loading">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>

  <div *ngIf='!this.loading'>

    <div *ngIf="appleCurators">
      <h2>Apple Curators</h2>
      <app-media-item-collection-row [items]="appleCurators"  [size]="2" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="featuredPlaylists">
      <h2>Featured Playlists</h2>
      <app-media-item-collection-row [items]="featuredPlaylists" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="top100">
      <h2>Top 100</h2>
      <app-media-item-collection-row [items]="top100" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="aListPlaylists">
      <h2>The A-List</h2>
      <app-media-item-collection-row [items]="aListPlaylists" [size]="2" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="curators">
      <h2>Curators</h2>
      <app-media-item-collection-row [items]="curators"></app-media-item-collection-row>
    </div>

  </div>

</div>