<div class="container-fluid">
  <h1>Browse</h1>

  <div *ngIf="this.loading">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>

  <div *ngIf='!this.loading'>

    <div *ngIf="musicService.appleCurators">
      <h2>Apple Curators</h2>
      <app-media-item-collection-row [items]="musicService.appleCurators" [size]="2" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.featuredPlaylists">
      <h2>Featured Playlists</h2>
      <app-media-item-collection-row [items]="musicService.featuredPlaylists" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.top100">
      <h2>Top 100</h2>
      <app-media-item-collection-row [items]="musicService.top100" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.aListPlaylists">
      <h2>The A-List</h2>
      <app-media-item-collection-row [items]="musicService.aListPlaylists" [size]="2" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.curators">
      <h2>Curators</h2>
      <app-media-item-collection-row [items]="musicService.curators"></app-media-item-collection-row>
    </div>

  </div>

</div>