<div class="container-fluid">
  <h1>Browse</h1>

  <div *ngIf="this.loading">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>

  <div *ngIf='!this.loading'>

    <div *ngIf="musicService.mostPlayed && musicService.mostPlayed.albums && musicService.mostPlayed.albums.length">
      <h2>Top Albums</h2>
      <app-media-item-collection-row [collection]="musicService.mostPlayed.albums[0].data" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.mostPlayed && musicService.mostPlayed.songs && musicService.mostPlayed.songs.length">
      <h2>Top Songs</h2>
      <app-media-item-collection-grid [collection]="musicService.mostPlayed.songs[0].data" [numRows]=3 [showArtist]=true [divider]=true></app-media-item-collection-grid>
    </div>

    <div *ngIf="musicService.mostPlayed && musicService.mostPlayed.playlists && musicService.mostPlayed.playlists.length">
      <h2>Top Playlists</h2>
      <app-media-item-collection-row [collection]="musicService.mostPlayed.playlists[0].data" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.appleCurators">
      <h2>Apple Curators</h2>
      <app-media-item-collection-row [collection]="musicService.appleCurators" [size]="2" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.featuredPlaylists">
      <h2>Featured Playlists</h2>
      <app-media-item-collection-row [collection]="musicService.featuredPlaylists" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.top100">
      <h2>Top 100</h2>
      <app-media-item-collection-row [collection]="musicService.top100" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.aListPlaylists">
      <h2>The A-List</h2>
      <app-media-item-collection-row [collection]="musicService.aListPlaylists" [size]="2" [divider]=true></app-media-item-collection-row>
    </div>

    <div *ngIf="musicService.curators">
      <h2>Curators</h2>
      <app-media-item-collection-row [collection]="musicService.curators"></app-media-item-collection-row>
    </div>

  </div>

</div>