.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo options";
  height: 100%;
  background-color: var(--background-darker);
  border-bottom: 1px solid var(--accent);
  z-index: 1000;

  .logo {
    grid-area: logo;
    justify-self: start;
    padding: 2px 0 0 45px;

    a:hover {
      text-decoration: none;
    }

    span {
      font-size: 20pt;
      font-weight: 500;
      text-decoration: none;
      color: var(--on-background);

      i {
        position: relative;
        top: 1px;
        padding-right: 5px;
      }
    }

    span:hover {
      color: var(--primary);
    }
  }
  .nav-extras {
    grid-area: options;
    justify-self: end;
    display: flex;
  }
}

.search-control {
  position: relative;
  height: 50px;
  padding: 10px;
}

.search-control.active .input-text {
  max-width: 100%;
  left: 0%;
  border: 1px solid var(--accent);
  padding: 5px 30px 6px 6px;
}

.search-control .icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: var(--on-background);
}

.search-control .icon:hover {
  color: var(--primary);
}

.search-control .input-text {
  position: relative;
  max-width: 0;
  border-width: 0;
  border-radius: 3px;
  height: 30px;
  left: 100%;
  padding: 0;
  outline: 0;
  font-size: 11pt;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: var(--background);
  color: var(--on-background);
}

.settings {
  padding: 15px 20px 10px 0;
}

.settings a {
  color: var(--on-background);
  cursor: pointer;
  outline: 0;
  i {
    font-size: 16pt;
  }
  i:hover {
    color: var(--primary);
  }
}

.authenticaion {
  padding: 13px 20px 10px 0;

  span {
    cursor: pointer;
    outline: 0;
    color: var(--on-background);
  }

  span:hover {
    color: var(--primary);
  }
}

input::-webkit-calendar-picker-indicator {
  display: none;
}
