#header-wrapper {
  position: fixed;
  width: 100%;
  height: 50px;
  margin-left: 0px;
  background-color:#1e1e1e
}

.logo {
  position: relative;
  top: 5px;
  height: 40px;
}

.user-controls {
  float: right;
}

.user-controls i {
  color: lightgrey;
}
