<div id="header-wrapper" class="header">
  <div class="logo">
    <a [routerLink]="['/browse']">
      <span>
        <i class="fab fa-itunes-note"></i>
        Valence
      </span>
    </a>
  </div>
  <div class="nav-extras">
    <div id="search-control" class="search-control">
      <input id="search-bar" class="input-text" type="search" placeholder="Search" list="searchHints" #searchbar autocomplete="off"
        (keyup.enter)="search(searchbar.value)" (keyup)="getSearchHints(searchbar.value)">
      <datalist *ngIf="searchHints && searchHints.terms" id="searchHints">
        <option *ngFor="let searchHint of searchHints.terms" [value]="searchHint">{{searchHint}}</option>
      </datalist>
      <i id="search-icon" class="icon fa fa-search"></i>
    </div>
    <div class="settings">
      <a [routerLink]="['/settings']"><i class="material-icons">settings</i></a>
    </div>
    <div class="authenticaion">
      <span *ngIf="!playerService.authorized" (click)="playerService.signin()">Sign In</span>
      <span *ngIf="playerService.authorized" (click)="playerService.signout()">Sign Out</span>
    </div>
  </div>
</div>
