<div class="container-fluid">
  <div *ngIf='musicService.album'>
    <div class='row pt-3'>
      <div class='col-4'>
        <img class="img-fluid card-img-top rounded" [src]='musicService.formatArtworkURL(musicService.album.attributes.artwork, 800)' />
        <div class='row'>
          <div class='col-8'>
            <span class='text-muted'>{{musicService.album.attributes.trackCount}} Songs, {{(musicService.albumDuration / 1000 / 60) | hoursMinutes}}</span>
          </div>
          <div class='col-4'>
            <span class='text-muted float-right pointer-hover'><a (click)='musicService.playItem(musicService.album, 0, true)'>Shuffle <i class="fas fa-random fa-xs"></i></a></span>
          </div>
        </div>
        <hr *ngIf='musicService.album.attributes.editorialNotes' />
        <p *ngIf='musicService.album.attributes.editorialNotes && musicService.album.attributes.editorialNotes.standard'>{{musicService.album.attributes.editorialNotes.standard}}</p>
        <p *ngIf='musicService.album.attributes.editorialNotes && !musicService.album.attributes.editorialNotes.standard'>{{musicService.album.attributes.editorialNotes.short}}</p>
      </div>
      <div class='col-8'>
        <div class='row'>
          <div class='col-11 album-title'>
            <h4>{{musicService.album.attributes.name}}</h4>
            <h5 *ngIf='musicService.album.relationships.artists.data && musicService.album.relationships.artists.data.length'><a [routerLink]="['/artists', musicService.album.relationships.artists.data[0].id]">{{musicService.album.attributes.artistName}}</a> | {{musicService.album.attributes.genreNames[0]}}</h5>
            <h5 *ngIf='musicService.album.relationships.artists.data && !musicService.album.relationships.artists.data.length'>{{musicService.album.attributes.artistName}} | {{musicService.album.attributes.genreNames[0]}}</h5>
          </div>
          <div class='col-1 album-options-dropdown'>
            <a role='button' id='dropdown{{musicService.album.id}}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              <i class="fas fa-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)='musicService.playItem(musicService.album)'>Play</a>
              <a class="dropdown-item" (click)='musicService.playItem(musicService.album, 0, true)'>Shuffle</a>
              <a class="dropdown-item" (click)='musicService.queueNext(musicService.album)'>Play Next</a>
              <a class="dropdown-item" (click)='musicService.queueLater(musicService.album)'>Play Later</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Add to Library</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Like</a>
              <a class="dropdown-item">Dislike</a>
            </div>
          </div>
        </div>
        <div class='row'>
          <table class='table table-hover album-text'>
            <thead>
              <tr>
                <th class='media-status'></th>
                <th>Song</th>
                <th class='time text-right'>Time</th>
                <th class='media-options'></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let track of musicService.album.relationships.tracks.data' class='mediarow'>
                <td class='media-status' (click)='!musicService.isItemCurrentlyPlaying(track.id) ? musicService.playItem(musicService.album, musicService.album.relationships.tracks.data.indexOf(track)) : musicService.pause()'>
                  <i *ngIf='!musicService.isItemCurrentlyPlaying(track.id)' class="fas fa-play"></i>
                  <i *ngIf='musicService.isItemCurrentlyPlaying(track.id)' class="fas fa-pause"></i>
                </td>
                <td class='text-truncate' (click)='!musicService.isItemCurrentlyPlaying(track.id) ? musicService.playItem(musicService.album, musicService.album.relationships.tracks.data.indexOf(track)) : musicService.pause()'>{{track.attributes.name}}</td>
                <td class='time text-right' (click)='!musicService.isItemCurrentlyPlaying(track.id) ? musicService.playItem(musicService.album, musicService.album.relationships.tracks.data.indexOf(track)) : musicService.pause()'>{{track.attributes.durationInMillis | date : 'm:ss'}}</td>
                <td class='media-options'>
                  <div>
                    <a role='button' id='dropdown{{track.id}}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                      <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" (click)='musicService.playItem(track)'>Play</a>
                      <a class="dropdown-item" (click)='musicService.queueNext(track)'>Play Next</a>
                      <a class="dropdown-item" (click)='musicService.queueLater(track)'>Play Later</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item">Add to Library</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item">Like</a>
                      <a class="dropdown-item">Dislike</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf='musicService.album' class='row'>
          <p>
            Released: {{musicService.album.attributes.releaseDate | date : 'fullDate'}} <br />
            {{musicService.album.attributes.recordLabel}} | {{musicService.album.attributes.copyright}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>