@media (min-width: 1086px) {
  .expanded {
    display: block;
  }

  .minimised {
    display: none;
  }
}

@media (max-width: 1085px) {
  .expanded {
    display: none;
  }

  .minimised {
    display: block;
  }
}

.loading-spinner {
  top: 32vh;
  margin: 0 auto;
}

.media-artwork {
  position: relative;
}

.media-control-button {
  display: none;
  position: absolute;
	color: lightgray;
  bottom: 5%;
  left: 5%;
}

.media-artwork:hover .media-control-button {
	display: block;
}

p {
  font-size: 9pt;
}

span {
  font-size: 10pt;
}

.track-list {
  height: calc(100vh - 235px);
  overflow-y: auto;
}

.shuffle-label {
  padding-top: 3px;
}

.shuffle-label :hover {
  cursor: pointer;
}
