<div class="container-fluid">

  <div *ngIf="this.loading">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>

  <div *ngIf="!this.loading">
    <div *ngIf="musicService.album">

      <div class="expanded">
        <div class='row pt-3'>
          <div class='col-4'>
            <div class="media-artwork">
              <img class="img-fluid card-img-top rounded" [src]='musicService.formatArtworkURL(musicService.album.attributes.artwork, 800)' />
              <div class='media-control-button'>
                <i class="fas fa-play-circle fa-3x" aria-hidden="true" (click)="musicService.playItem(musicService.album)"></i>
              </div>
            </div>
            <div class='row'>
              <div class='col-8'>
                <span class='text-muted'>{{musicService.album.attributes.trackCount}} Songs, {{(musicService.albumDuration / 1000 / 60) | hoursMinutes}}</span>
              </div>
              <div class='col-4'>
                <span class='text-muted float-right shuffle-label'><a (click)='musicService.playItem(musicService.album, 0, true)'>Shuffle <i class="fas fa-random fa-xs"></i></a></span>
              </div>
            </div>
            <hr *ngIf='musicService.album.attributes.editorialNotes' />
            <p *ngIf='musicService.album.attributes.editorialNotes && musicService.album.attributes.editorialNotes.standard'>{{musicService.album.attributes.editorialNotes.standard}}</p>
            <p *ngIf='musicService.album.attributes.editorialNotes && !musicService.album.attributes.editorialNotes.standard'>{{musicService.album.attributes.editorialNotes.short}}</p>
          </div>
          <div class='col-8'>
            <app-media-item-collection-list [collection]="musicService.album" [showHeader]=true></app-media-item-collection-list>
            <div *ngIf="musicService.album && !musicService.album.type.includes('library')" class='row'>
              <p class="text-muted">
                Released: {{musicService.album.attributes.releaseDate | date : 'fullDate'}} <br />
                {{musicService.album.attributes.recordLabel}} | {{musicService.album.attributes.copyright}}
              </p>
            </div>
          </div>
          <div *ngIf="artistAlbums && artistAlbums.relationships.albums.data" class="container-fluid">
            <h2>More by {{artistAlbums.attributes.name}}</h2>
            <app-media-item-collection-row *ngIf="artistAlbums && artistAlbums.relationships.albums.data" [items]="artistAlbums.relationships.albums.data"></app-media-item-collection-row>
          </div>
        </div>
      </div>

      <div class="minimised">
        <app-media-item-collection-list [collection]="musicService.album" [showHeader]=true></app-media-item-collection-list>
        <div *ngIf="artistAlbums && artistAlbums.relationships.albums.data" class="container-fluid">
          <h3>More by {{artistAlbums.attributes.name}}</h3>
          <app-media-item-collection-row [items]="artistAlbums.relationships.albums.data"></app-media-item-collection-row>
        </div>
      </div>
      
    </div>
  </div>

</div>