p {
  font-size: 9pt;
}

.mediarow {
  cursor: pointer;
}

.mediarow i {
  color: #ffffff;
}

.mediarow:hover i {
  color: #000000;
}

.dropdown {
  position: relative;
}

.album-options-dropdown {
  position: relative;
  top: 37px;
  left: 12px;
  max-width: 10px;
  max-height: 15px;
  cursor: pointer;
}

.track-list {
  height: calc(100vh - 235px);
  overflow-y: auto;
}

.album-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.album-text {
  font-size: 10pt;
}

.media-status {
  max-width: 10px;
}

.time {
  max-width: 30px;
}

.media-options {
  max-width: 10px;
}