.spinner {
  float: right!important;
  padding: 10px;
}

.header {
  position: sticky;
  top: 0;
  height: 60px;
  margin-bottom: -4px;
  z-index: 10;
  opacity: 0.95;
  color: var(--on-background);
  background: linear-gradient(to top, var(--background-opacity), var(--background) 15%);
}

.songs {
  width: 98%;
}

.unavailable {
  position: absolute;
  top: 30%;
  left: 25%;
  text-align: center;
  color: var(--on-background);

  i {
    font-size: 100pt;
    cursor: default;
  }
}

app-media-item-view {
  padding: 5px 7px;
}

::ng-deep {
  .ps__thumb-y { background-color: var(--on-background)!important; }
  .ps__rail-y { opacity: 1!important; background-color: rgba(0,0,0,0)!important; z-index: 100; }
}
