@media (min-width: 1086px) {
  .expanded {
    display: block;
  }

  .minimised {
    display: none;
  }
}

@media (max-width: 1085px) {
  .expanded {
    display: none;
  }

  .minimised {
    display: block;
  }
}

.loading-spinner {
  top: 32vh;
  margin: 0 auto;
}

.media-artwork {
  position: relative;
}

.media-control-button {
  display: none;
  position: absolute;
	color: lightgray;
  bottom: 5%;
  left: 5%;
}

.media-artwork:hover .media-control-button {
	display: block;
}

.editorial-notes {
  overflow-y: auto;
  white-space: pre-wrap;
  font-size: 9pt;
}

.side-sticky {
  position: sticky;
  top: 0;
  padding-top: 1rem;
}

p {
  font-size: 9pt;
}

span {
  font-size: 10pt;
}

.track-list {
  height: calc(100vh - 235px);
  overflow-y: auto;
}

.shuffle-label {
  padding-top: 3px;
}

.shuffle-label :hover {
  cursor: pointer;
}

.scrollbar::-webkit-scrollbar
{
  height: 8px;
	width: 8px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-track
{
  box-shadow: #F5F5F5;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
  box-shadow: #919191;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 8px;
	background-color: #919191;
}
