<div class="container-fluid">
  <h1>Browse</h1>

  <div *ngIf="this.loading">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>

  <div *ngIf='!this.loading'>

    <div *ngIf="musicPlayerService.mostPlayed && musicPlayerService.mostPlayed.albums && musicPlayerService.mostPlayed.albums.length">
      <h3>Top Albums</h3>
      <app-media-item-collection-row [collection]="musicPlayerService.mostPlayed.albums[0].data"></app-media-item-collection-row>
    </div>

    <div *ngIf="musicPlayerService.mostPlayed && musicPlayerService.mostPlayed.songs && musicPlayerService.mostPlayed.songs.length">
      <h3>Top Songs</h3>
      <app-media-item-collection-grid [collection]="musicPlayerService.mostPlayed.songs[0].data" [numRows]=3 [showArtist]=true></app-media-item-collection-grid>
    </div>

    <div *ngIf="musicPlayerService.mostPlayed && musicPlayerService.mostPlayed.playlists && musicPlayerService.mostPlayed.playlists.length">
      <h3>Top Playlists</h3>
      <app-media-item-collection-row [collection]="musicPlayerService.mostPlayed.playlists[0].data"></app-media-item-collection-row>
    </div>

    <div *ngIf="musicPlayerService.appleCurators">
      <h3>Apple Curators</h3>
      <app-media-item-collection-row [collection]="musicPlayerService.appleCurators" [size]="2"></app-media-item-collection-row>
    </div>

    <div *ngIf="musicPlayerService.featuredPlaylists">
      <h3>Featured Playlists</h3>
      <app-media-item-collection-row [collection]="musicPlayerService.featuredPlaylists"></app-media-item-collection-row>
    </div>

    <div *ngIf="musicPlayerService.top100">
      <h3>Top 100</h3>
      <app-media-item-collection-row [collection]="musicPlayerService.top100"></app-media-item-collection-row>
    </div>

    <div *ngIf="musicPlayerService.aListPlaylists">
      <h3>The A-List</h3>
      <app-media-item-collection-row [collection]="musicPlayerService.aListPlaylists" [size]="2"></app-media-item-collection-row>
    </div>

    <div *ngIf="musicPlayerService.curators">
      <h3>Curators</h3>
      <app-media-item-collection-row [collection]="musicPlayerService.curators"></app-media-item-collection-row>
    </div>

  </div>

</div>
